.header {position: sticky;
    top: 0;
    z-index: 3;
   
    
    background-color: rgba(18, 18, 18, 1);
    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);}

    .header-hotel {position: sticky;
      top: 0;
      z-index: 3;
     
      
      background-color:#FFFFFF;
      border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);}  

.logo {font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-bottom: 3px;
    text-decoration: none;
    text-align: center;
    }

    .rhc {font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 6px;
        line-height: 8px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        color: #D8D7D7;
    }

.mobile-menu-open_icon {stroke: #FFFFFF;}

.mobile-close-win {background-color:transparent;
                    border: none;
                padding-left: 0;}

.mobile-cross {stroke:currentColor;}

.mobile-menu-open {background-color:transparent;
              border: none;
              padding: 24px 0;
              border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
            stroke:#F6F6F6;}

.mobile-menu {position: fixed;
         width: 335px;
         height: 100%;
       top: 0;
         z-index: 100;
         padding-left: 20px;
         padding-right: 20px;
         margin-left: auto;
         margin-right: auto;
       
         background-color: rgba(18, 18, 18, 1);

         opacity: 0;
         visibility: hidden;
         pointer-events: none;
         transition: opacity 500ms linear, visibility 500ms linear;} 
 
         .menu-center {display: flex;
    width: 100%;
    height: 78px;
    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
   }        

.head-mobile {display: block;
text-align: center;
justify-items: center;
margin-left: 83px;}

        
.head-mobile.menu {display: block;
    text-align: center;
    justify-items: center;
    margin-top: 20px;
}
.mobile-menu.is-open {opacity: 1;
                 visibility: visible;
                 pointer-events: auto;}         

.mobile-menu_conteiner{position: relative;
                       padding-top: 80px;}    

.mobile-items {font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
       letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
        color: #F7F7F7;
    align-items: center;
text-align: center;
justify-content: center;
padding-left: 0;    
padding-right: 0;
margin-top: 128px;} 

 .mobile-item {margin-left: auto;
   margin-right: auto;
   margin-bottom: 32px;
   align-items: center;
   text-align: center;
   justify-content: center;}    

.mobile-link {text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #F7F7F7;}  

    .mobile-menu-icons {display: flex;
    gap: 14px;
  stroke: #F6F6F6;}