<section class="about-about-kitchen">
  <div class="container">
    <h2 class="about-hidden-title">About a kitchen</h2>
    <div class="about-section-wrap">
      <div class="about-kitchen-gallery">
        <div class="about-list-img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                images/desktop/restaurant/restaurant1_desktop.jpg    1x,
                images/desktop/restaurant/restaurant1_desktop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/tablet/restaurant/restaurant_food3_tablet.jpg    1x,
                images/tablet/restaurant/restaurant_food3_tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 375px)"
              srcset="
                images/mobile/restaurant/restaurant_food1_mobile.jpg    1x,
                images/mobile/restaurant/restaurant_food1_mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/mobile/restaurant/restaurant_food1_mobile.jpg"
              alt="Chef's cooking"
              max-width="511"
            />
          </picture>
        </div>
        <div class="about-wrapper">
          <div>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  images/desktop/restaurant/restaurant2_desktop.jpg    1x,
                  images/desktop/restaurant/restaurant2_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/tablet/restaurant/restaurant_food1_tablet.jpg    1x,
                  images/tablet/restaurant/restaurant_food1_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 375px)"
                srcset="
                  images/mobile/restaurant/restaurant_food2_mobile.jpg    1x,
                  images/mobile/restaurant/restaurant_food2_mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="images/mobile/restaurant/restaurant_food2_mobile.jpg"
                alt="meet steaks"
                max-width="334"
              />
            </picture>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  images/desktop/restaurant/restaurant3_desktop.jpg    1x,
                  images/desktop/restaurant/restaurant3_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/tablet/restaurant/restaurant_food2_tablet.jpg    1x,
                  images/tablet/restaurant/restaurant_food2_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/mobile/restaurant/restaurant_food3_mobile.jpg    1x,
                  images/mobile/restaurant/restaurant_food3_mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="images/mobile/restaurant/restaurant_food3_mobile.jpg"
                alt="a cup with coctail"
                max-width="467"
              />
            </picture>
          </div>
        </div>
      </div>
      <ul class="about-list-txt-kitchen">
        <li class="about-first-txt">
          <p>
            At Mimino, we are experts in m<span class="italic"
              >eat preparation</span
            >. Our chefs use only the finest and freshest ingredients to
            <span class="italic">create delicious dishes</span> that showcase
            the flavors of premium cuts of meat.
          </p>
        </li>
        <li class="about-second-txt">
          <p>
            Our <span class="about-italic">slow-cooking process</span> and
            expert seasoning bring out the best in each dish, making for an
            unforgettable dining experience. Come taste the magic
            <span class="about-italic">of meat preparation at</span> Mimino.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal" data-modal="3">
    <div class="modal-view-price">
      <h2 class="modal-title">prices per<span>room</span></h2>
      <button type="button" class="modal__cross js-modal-close">
        <svg class="close-modal-icon" width="12" height="12">
          <use href="/images/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <form class="form-book-room" name="form_book_room">
        <div class="form-field select">
          <label for="fav" class="form-field-label">number of people </label>
          <input list="nmb_of_nights" name="fav" id="fav" class="form-input" />
          <datalist id="nmb_of_nights" class="datalist">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </datalist>
        </div>
        <div class="form-field select">
          <select name="" id="" class="modal-select">
            <option value="">today</option>
            <option value="">tomorrow</option>
            <option value="">day after tomorrow</option>
          </select>
          <p class="form-paragraph">check-in-date</p>
        </div>
        <button type="submit" class="modal-submit-btn">
          MAKE A RESERVATION
        </button>
      </form>
    </div>
  </div>
</section>

<!-- modal view a price -->
<div class="modal" data-modal="3">
  <div class="modal-view-price">
    <h2 class="modal-title">prices per<span>room</span></h2>
    <button type="button" class="modal__cross js-modal-close">
      <svg class="close-modal-icon" width="12" height="12">
        <use href="/images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <form class="form-book-room" name="form_book_room">
      <div class="form-field">
        <label for="user-name" class="form-field-label">
          <input
            minlength="2"
            placeholder="Your name"
            type="text"
            class="form-input"
            name="user-name"
            id="user-name"
            pattern=""
          />
          <span class="booking-label">Your name</span>
        </label>
        <p class="form-paragraph">who should book a table for?</p>
      </div>
      <div class="form-field">
        <label for="user-phone" class="form-field-label"
          ><input
            minlength="2"
            placeholder="+38(099)-999-99-99"
            type="tel"
            class="form-input"
            name="user-phone"
            id="user-phone"
            pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            minlength="13"
            maxlength="13"
          /><span class="booking-label">+38()</span>
        </label>
        <p class="form-paragraph">phone number</p>
      </div>

      <div class="form-field select">
        <label for="fav" class="form-field-label">number of people </label>
        <input list="nmb_of_people" name="fav" id="fav" class="form-input" />
        <datalist id="nmb_of_people" class="datalist">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </datalist>
      </div>
      <div class="form-field select">
        <select name="" id="" class="modal-select">
          <option value="">today</option>
          <option value="">tomorrow</option>
          <option value="">day after tomorrow</option>
        </select>
        <p class="form-paragraph">check-in-date</p>
      </div>
      <button type="submit" class="modal-submit-btn">MAKE A RESERVATION</button>
    </form>
  </div>
</div>
