<section>
  <h2 class="hidden-title">About a kitchen</h2>
  <img
    srcset="
      images/mobile/restaurant/restaurant_food1_mobile.webp    1x,
      images/mobile/restaurant/restaurant_food1_mobile@2x.webp 2x
    "
    src="images/mobile/restaurant/restaurant_food1_mobile.jpg"
    alt="Chef's cooking"
    width="336"
  />
  <img
    srcset="
      images/mobile/restaurant/restaurant_food2_mobile.webp    1x,
      images/mobile/restaurant/restaurant_food2_mobile@2x.webp 2x
    "
    src="images/mobile/restaurant/restaurant_food2_mobile.jpg"
    alt="meet steaks"
    width="158"
  />
  <img
    srcset="
      images/mobile/restaurant/restaurant_food3_mobile.webp    1x,
      images/mobile/restaurant/restaurant_food3_mobile@2x.webp 2x
    "
    src="images/mobile/restaurant/restaurant_food3_mobile.jpg"
    alt="meet steaks"
    width="157"
  />
  <p>
    At Mimino, we are experts in meat preparation. Our chefs use only the finest
    and freshest ingredients to create delicious dishes that showcase the
    flavors of premium cuts of meat.
  </p>
  <p>
    Our slow-cooking process and expert seasoning bring out the best in each
    dish, making for an unforgettable dining experience. Come taste the magic of
    meat preparation at Mimino.
  </p>
</section>
