<header class="restaurant-header">
  <div class="container restaurant-header-container">
    <button data-menu-open class="restaurant-header-mobile-menu-btn" type="button">
      <svg class="restaurant-header-mobile-menu-icon" width="21" height="21">
        <use href="./images/icons.svg#icon-menu-open"></use>
      </svg>
    </button>
    <nav class="restaurant-header-nav">
      <ul class="restaurant-header-nav-list">
        <li class="restaurantrestaurant-header-nav-item">
          <a class="restaurant-header-nav-link " href="./index.html">home</a>
        </li>
        <li class="restaurant-header-nav-item">
          <a class="restaurant-header-nav-link " href="./hotel.html">hotel</a>
        </li>
        <li class="restaurant-header-nav-item">
          <a class="restaurant-header-nav-link current" href="./restaurant.html">restaurant</a>
        </li>
      </ul>
    </nav>
    <a class="restaurant-logo" href="./index.html"
      >mimino <span class="restaurant-logo-down">restaurant-hotel complex</span>
    </a>
    <ul class="restaurant-header-social-list">
      <li class="restaurant-header-social-item">
        <a class="restaurant-header-social-link" href="https://www.instagram.com" target="_blank">
          <svg class="restaurant-header-social-list-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="restaurant-header-social-item">
        <a class="restaurant-header-social-link" href="https://www.instagram.com" target="_blank">
          <svg class="restaurant-header-social-list-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="restaurant-header-social-item">
        <a class="restaurant-header-social-link" href="https://twitter.com/" target="_blank" >
          <svg class="restaurant-header-social-list-icon" width="22" height="20">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="restaurant-header-mobile-menu" data-menu>

  <a class="restaurant-logo" href="./index.html"
  >mimino <span class="restaurant-logo-down">restaurant-hotel complex</span>
</a>

  <button
    data-menu-close
    type="button"
    class="restaurant-header-mobile-menu-btn-close restaurant-header-modal-close-btn">
    <svg class="restaurant-header-modal-close-btn-icon" width="14" height="14">
      <use href="./images/icons.svg#icon-menu-close"></use>
    </svg>
  </button>


  <ul class="restaurant-header-mobile-menu-list list">
    <li class="restaurant-header-mobile-menu-item">
      <a class="restaurant-header-mobile-menu-links" href="./index.html">home</a>
    </li>
    <li class="restaurant-header-mobile-menu-item">
      <a class="restaurant-header-mobile-menu-links" href="./hotel.html">hotel</a>
    </li>
    <li class="restaurant-header-mobile-menu-item">
      <a class="restaurant-header-mobile-menu-links active" href="./restaurant.html">restaurant</a>
    </li>
  </ul>

  <ul class="restaurant-header-mobile-menu-social-list list">
    <li class="restaurant-header-social-list-item">
      <a class="restaurant-header-social-list-link" href="https://www.instagram.com" target="_blank">
        <svg class="restaurant-header-social-list-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="restaurant-header-social-list-item">
      <a class="restaurant-header-social-list-link" href="https://www.facebook.com/" target="_blank">
        <svg class="restaurant-header-social-list-icon" width="21" height="21">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="restaurant-header-social-list-item">
      <a class="restaurant-header-social-list-link" href="https://twitter.com/" target="_blank">
        <svg class="restaurant-header-social-list-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>