<section class="section hero-section">
  <div class="hero-background"></div>
  <h1 class="hero-title">Restaurant</h1>
  <ul class="btn list">
    <li class="list-item">
      <button type="buttom" class="btn">book a table</button>
    </li>
    <li class="list-item">
      <button type="buttom" class="btn">view a menu</button>
    </li>
  </ul>
  <div class="container">
    <p class="text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
</section>
