<section class="section hero-section">
  <div class="container">
    <h1 class="hero-title">Restaurant</h1>
    <ul class="btn-list">
      <li class="list-item">
        <button type="button" class="btn">book a table</button>
      </li>
      <li class="list-item">
        <a href="./restaurant.html" class="nav-link link">view a menu</a>
      </li>
    </ul>
    <div class="restaurant-wrap">
      <picture class="restaurant-pic">
        <!-- desctop -->
        <source
          media="(min-width: 1200px)"
          srcset="
            /images/desktop/restaurant/scrol_restaurant/scrol_restaurant1_desktop.webp 1x,
            /images/desktop/restaurant/scrol_restaurant/scrol_restaurant1_desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            /images/desktop/restaurant/scrol_restaurant/scrol_restaurant1_desktop.jpg 1x,
            /images/desktop/restaurant/scrol_restaurant/scrol_restaurant1_desktop@2x.jpg 2x
          "
          type="image/jpg"
        />

        <!-- mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            /images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile.webp 1x,
            /images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile.jpg 1x,
            /images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile@2x.jpg 2x
          "
          type="image/jpg"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
          /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet.webp 1x,
          /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet.jpg 1x,
            /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class=""
          src="/images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile.jpg"
          alt=""
          width="250"
          height="429"
          loading="lazy"
        />
      </picture>
    </div>

    <ul class="restaurant-text">
      <li class="text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </li>
    </ul>
  </div>
</section>
