<section class="section_restourant-menu">
  <div class="conteiner_restourant-menu">
    <h2 class="title_restourant-menu">restaurant menu</h2>
    <div class="slider">
      <div class="item">
        <div class="list-wrapper_restourant-menu">
          <h3 class="list-title">hot meals</h3>

          <ul class="list-restourant-menu">
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Veal borscht with beans</h4>
                <p class="dish-weight">400 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                  tomatoes, greens, sour cream
                </p>
                <p class="dish-prise">240 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Cheese soup with chicken</h4>
                <p class="dish-weight">400 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                  greens
                </p>
                <p class="dish-prise">200 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Carbonara pasta</h4>
                <p class="dish-weight">400 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
                </p>
                <p class="dish-prise">430 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Pork steak</h4>
                <p class="dish-weight">400 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Pork tenderloin, spices, served with sweet chili sauce and
                  vegetables
                </p>
                <p class="dish-prise">500 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Gorbusha in white wine sauce</h4>
                <p class="dish-weight">400 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Tender redfish, cream sauce based on white wine
                </p>
                <p class="dish-prise">400 UAH</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="item">
        <div class="list-wrapper_restourant-menu">
          <h3 class="list-title">Side dishes and snacks</h3>

          <ul class="list-restourant-menu">
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Baked vegetables</h4>
                <p class="dish-weight">200 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Zucchini, pepper, tomato, eggplant
                </p>
                <p class="dish-prise">230 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">French fries</h4>
                <p class="dish-weight">150 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">Potatoes, tomato sauce</p>
                <p class="dish-prise">160 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Peasant-style potatoes</h4>
                <p class="dish-weight">150 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">Potatoes, spices, spicy sauces</p>
                <p class="dish-prise">160 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Crisp pickles from the barrel</h4>
                <p class="dish-weight">250 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                </p>
                <p class="dish-prise">350 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Chicken wings in honey sauce</h4>
                <p class="dish-weight">400 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Chicken wings, mustard-honey sauce, served with carrots,
                  celery and blue cheese sauce
                </p>
                <p class="dish-prise">400 UAH</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="item">
        <div class="list-wrapper_restourant-menu">
          <h3 class="list-title">Salads</h3>

          <ul class="list-restourant-menu">
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Caesar with chicken</h4>
                <p class="dish-weight">230 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                  croutons, Caesar sauce
                </p>
                <p class="dish-prise">450 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Caesar with shrimp</h4>
                <p class="dish-weight">230 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce
                </p>
                <p class="dish-prise">300 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Greek salad</h4>
                <p class="dish-weight">230 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                  lettuce, sauce
                </p>
                <p class="dish-prise">280 UAH</p>
              </div>
            </li>

            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Meat salad</h4>
                <p class="dish-weight">230 g</p>
              </div>

              <div class="flex-item_second">
                <p class="dish-ingredients">
                  Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                  bell pepper, ranch sauce
                </p>
                <p class="dish-prise">300 UAH</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="item">
        <div class="list-wrapper_restourant-menu">
          <h3 class="list-title">Desserts</h3>

          <ul class="list-restourant-menu margin">
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Napoleon cake</h4>
                <p class="dish-prise">200 UAH</p>
              </div>
            </li>
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Poppy cake</h4>
                <p class="dish-prise">300 UAH</p>
              </div>
            </li>
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Tiramisu</h4>
                <p class="dish-prise">260 UAH</p>
              </div>
            </li>
          </ul>
          <h3 class="list-title">Drinks</h3>

          <ul class="list-restourant-menu">
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Black/green tea</h4>
                <p class="dish-prise">100 UAH</p>
              </div>
            </li>
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Espresso</h4>
                <p class="dish-prise">100 UAH</p>
              </div>
            </li>
            <li class="list-item">
              <div class="flex-item_first">
                <h4 class="dish-name">Cappuccino</h4>
                <p class="dish-prise">100 UAH</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="switches_restourant-menu">
      <button class="menu-switch-btn prev" onclick="minusSlide()" type="button">
        <svg width="15" height="15">
          <use href="./images/icons.svg#icon-slide-left"></use>
        </svg>
      </button>

      <button class="menu-switch-btn next" onclick="plusSlide()" type="button">
        <svg width="15" height="15">
          <use href="./images/icons.svg#icon-slide-right"></use>
        </svg>
      </button>
    </div>
    <!-- button  -->
    <div class="btn_restourant-menu">
      <button type="button" class="js-open-modal menu-btn" data-modal="2">
        book a table
      </button>
    </div>
  </div>
</section>

<!-- Desctop screen -->
<section class="section_restourant-menu_desktop">
  <div class="conteiner_restourant-menu">
    <h2 class="title_restourant-menu">restaurant menu</h2>
    <!-- restourant menu -->
    <div class="lists-wrapper_restourant-menu">
      <div class="list-wrapper_restourant-menu">
        <h3 class="list-title">hot meals</h3>

        <ul class="list-restourant-menu">
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Veal borscht with beans</h4>
              <p class="dish-weight">400 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
              <p class="dish-prise">240 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Cheese soup with chicken</h4>
              <p class="dish-weight">400 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
              <p class="dish-prise">200 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Carbonara pasta</h4>
              <p class="dish-weight">400 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
              <p class="dish-prise">430 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Pork steak</h4>
              <p class="dish-weight">400 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
              <p class="dish-prise">500 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Gorbusha in white wine sauce</h4>
              <p class="dish-weight">400 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Tender redfish, cream sauce based on white wine
              </p>
              <p class="dish-prise">400 UAH</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="list-wrapper_restourant-menu">
        <h3 class="list-title">Side dishes and snacks</h3>

        <ul class="list-restourant-menu">
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Baked vegetables</h4>
              <p class="dish-weight">200 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">Zucchini, pepper, tomato, eggplant</p>
              <p class="dish-prise">230 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">French fries</h4>
              <p class="dish-weight">150 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">Potatoes, tomato sauce</p>
              <p class="dish-prise">160 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Peasant-style potatoes</h4>
              <p class="dish-weight">150 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">Potatoes, spices, spicy sauces</p>
              <p class="dish-prise">160 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Crisp pickles from the barrel</h4>
              <p class="dish-weight">250 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
              <p class="dish-prise">350 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Chicken wings in honey sauce</h4>
              <p class="dish-weight">400 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
              <p class="dish-prise">400 UAH</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="list-wrapper_restourant-menu">
        <h3 class="list-title">Salads</h3>

        <ul class="list-restourant-menu">
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Caesar with chicken</h4>
              <p class="dish-weight">230 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
              <p class="dish-prise">450 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Caesar with shrimp</h4>
              <p class="dish-weight">230 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
              <p class="dish-prise">300 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Greek salad</h4>
              <p class="dish-weight">230 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
              <p class="dish-prise">280 UAH</p>
            </div>
          </li>

          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Meat salad</h4>
              <p class="dish-weight">230 g</p>
            </div>

            <div class="flex-item_second">
              <p class="dish-ingredients">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
              <p class="dish-prise">300 UAH</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="list-wrapper_restourant-menu">
        <h3 class="list-title">Desserts</h3>

        <ul class="list-restourant-menu margin">
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Napoleon cake</h4>
              <p class="dish-prise">200 UAH</p>
            </div>
          </li>
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Poppy cake</h4>
              <p class="dish-prise">300 UAH</p>
            </div>
          </li>
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Tiramisu</h4>
              <p class="dish-prise">260 UAH</p>
            </div>
          </li>
        </ul>
        <h3 class="list-title">Drinks</h3>

        <ul class="list-restourant-menu">
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Black/green tea</h4>
              <p class="dish-prise">100 UAH</p>
            </div>
          </li>
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Espresso</h4>
              <p class="dish-prise">100 UAH</p>
            </div>
          </li>
          <li class="list-item">
            <div class="flex-item_first">
              <h4 class="dish-name">Cappuccino</h4>
              <p class="dish-prise">100 UAH</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- menu switches -->
    <div class="switches_restourant-menu">
      <button class="menu-switch-btn" type="button">
        <svg width="15" height="15">
          <use href="./icons.svg#icon-slide-left"></use>
        </svg>
      </button>

      <button class="menu-switch-btn" type="button">
        <svg width="15" height="15">
          <use href="./icons.svg#icon-slide-right"></use>
        </svg>
      </button>
    </div>
    <!-- button  -->
    <div class="btn_restourant-menu">
      <button type="button" class="js-open-modal menu-btn" data-modal="2">
        book a table
      </button>
    </div>
  </div>
</section>

<script type="module" src="../../js/slider_restaurant-menu.js"></script>