.amen-sect {
  padding-top: 0px;
  padding-bottom: 64px;
  background-color: #121212;
  min-width: 375px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .amen-sect {
    padding-top: 0px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .amen-sect {
    padding-top: 0px;
    padding-bottom: 100px;
  }
}
.amen-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .amen-list {
    margin-bottom: 122px;
  }
}
@media screen and (min-width: 1440px) {
  .amen-list {
    margin-bottom: 0;
    gap: 100px 70px;
  }
}
.amen-item {
  width: 100%;
  max-width: 633px;
}
.amen-text-title {
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 28px;
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  .amen-text-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
.amen-text-list {
  list-style: disc;
  padding-left: 22px;
}
.amen-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .amen-text {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
.amen-wrapp {
  max-width: 848px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-left: auto;
}

@media screen and (min-width: 1440px) {
  .amen-wrapp {
    margin-top: -120px;
  }
}
.amen-thumb {
  position: relative;
}
.amen-img {
  width: 239px;
  height: 333px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .amen-img {
    width: 408px;
    height: 525px;
  }
}
@media screen and (min-width: 1440px) {
  .amen-img {
    width: 496px;
    height: 636px;
  }
}
.amen-position-img {
  position: absolute;
  top: 144px;
  width: 207px;
  height: 103px;
  left: -76px;
}
@media screen and (min-width: 768px) {
  .amen-position-img {
    width: 365px;
    height: 182px;
    top: 157px;
    left: -296px;
  }
}
@media screen and (min-width: 1440px) {
  .amen-position-img {
    width: 439px;
    height: 219px;
    top: 208px;
    left: -352px;
  }
}
.btn-dark {
  display: block;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .btn-dark {
    margin-top: 371px;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .btn-dark {
    margin-top: 459px;
  }
}
