/**
    |============================
    | ---------ROOM HERO STYLES ----------
    |============================
  */
.room-hero-section {
  background-color: var(--main-light-color);
  padding-top: 118px;
  padding-bottom: 65px;
}

.room-hero-title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 25px;
  width: 270px;
}
.italic-txt {
  font-style: italic;
}

.room-slider-wrapper {
  width: 335px;
  overflow: hidden;
  margin-bottom: 100px;
}

.slick-list {
  height: 429px;
}

.item {
  margin-left: 20px;
}

.slick-track {
  display: flex;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  background-color: transparent;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  transition: opacity 250ms linear;
}

.slick-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='16' fill='none'%3E%3Cpath stroke='%23121212' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 15 7-7-7-7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 7px 14px;
  background-position: center;
  top: 760px;
  left: calc(100vw - 20%);
  opacity: 1;
}

.slick-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='16' fill='none'%3E%3Cpath stroke='%23121212' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 15 1 8l7-7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 7px 14px;
  background-position: center;
  top: 760px;
  left: calc(100vw - 38%);
  opacity: 0.3;
}

/* .slick-prev:focus~.slick-next {
  opacity: 0.3;
}

.slick-prev:focus~.slick-next:hover {
  opacity: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  opacity: 1;
} */

.room-btn {
  margin-bottom: 32px;
}
.room-hero-txt {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
  max-width: 289px;
}

/**
      |============================
      | ---------ROOM HERO TABLET STYLES ----------
      |============================
    */
@media screen and (min-width: 768px) {
  .room-hero-section {
    padding-bottom: 118px;
  }
  .room-slider-wrapper {
    width: 736px;
    height: 548px;
    margin-bottom: 40px;
  }
  .slick-list {
    height: 436px;
  }

  .item {
    margin-left: 32px;
  }
  .slick-next {
    top: 890px;
    left: 714px;
  }
  .slick-prev {
    top: 890px;
    left: 647px;
  }
}

/**
      |============================
      | ---------ROOM HERO DESKTOP STYLES ----------
      |============================
    */

@media screen and (min-width: 1440px) {
  .room-hero-section {
    padding-top: 247px;
    padding-bottom: 48px;
  }

  .room-btn {
    margin-bottom: 166px;
  }
  .slick-list {
    height: 436px;
  }
   .room-hero-box{
    position: relative;
   }
  .room-slider-wrapper{
    position: absolute;
    top: -168px;
    right: 0;
    margin-bottom: 0;
  }
  .slick-next {
    top: 568px;
    left: 0px;
  }
  .slick-prev {
    top: 568px;
    left: 0px;
  }
}
