<header class="header header-white">
    <div class="container header-container">
      <button data-menu-open class="header-mobile-menu-btn" type="button">
        <svg class="header-mobile-menu-icon menu-icon-black" width="21" height="21">
          <use href="./images/icons.svg#icon-menu-open"></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link header-nav-link-black " href="./index.html">home</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link header-nav-link-black " href="./hotel.html">hotel</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link header-nav-link-black current" href="./restaurant.html">restaurant</a>
          </li>
        </ul>
      </nav>
      <a class="logo logo-black" href="./index.html"
        >mimino <span class="logo-down logo-down-black">restaurant-hotel complex</span>
      </a>
      <ul class="header-social-list">
        <li class="header-social-item">
          <a href="https://www.instagram.com" target="_blank">
            <svg class="header-social-list-icon social-list-icon-black" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://www.facebook.com" target="_blank">
            <svg class="header-social-list-icon social-list-icon-black" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://twitter.com/" target="_blank">
            <svg class="header-social-list-icon social-list-icon-black" width="22" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  
    
    <div class=" header-mobile-menu header-mobile-menu-black" data-menu>
      
      <a class="logo" href="./index.html"
      >mimino <span class="logo-down">restaurant-hotel complex</span>
    </a>
  
    <button
    data-menu-close
      type="button"
      class="header-mobile-menu-btn-close header-modal-close-btn">
      <svg class="header-modal-close-btn-icon mobile-menu-close-black" width="14" height="14">
        <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
  
  
    <ul class="header-mobile-menu-list list">
      <li class="header-mobile-menu-item">
        <a class="header-mobile-menu-links menu-links-black" href="./index.html">home</a>
      </li>
      <li class="header-mobile-menu-item">
        <a class="header-mobile-menu-links menu-links-black" href="./hotel.html">hotel</a>
      </li>
      <li class="header-mobile-menu-item">
        <a class="header-mobile-menu-links menu-links-black active" href="./restaurant.html">restaurant</a>
      </li>
    </ul>
    
    <ul class="header-mobile-menu-social-list list">
      <li class="header-social-list-item">
        <a class="header-social-list-link" href="https://www.instagram.com" target="_blank">
          <svg class="header-social-list-icon social-list-icon-black" width="20" height="20">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a class="header-social-list-link" href="https://www.facebook.com/" target="_blank">
          <svg class="header-social-list-icon social-list-icon-black" width="20" height="20">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a class="header-social-list-link" href="https://twitter.com/" target="_blank">
          <svg class="header-social-list-icon social-list-icon-black" width="20" height="20">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  </header>