<div class="modal" data-modal="3">
  <div class="modal-view-price">
    <h2 class="modal-title-price">prices per <span>room</span></h2>
    <button type="button" class="modal__cross js-modal-close">
      <svg class="close-modal-icon" width="12" height="12">
        <use href="/images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <form class="form-view-price" name="form_view_price">
        <div class="view-price-wrapper">
      <div class="form-field select">
            <span class="booking-label-price">Double suite</span>
        <select
            name="number-of-people"
            id="number-of-people"
            class="modal-select"
          >
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
          </select>
          
          <p class="form-paragraph">Number of nights</p>
      </div>

      <div class="form-field select price">
        <p class="modal-select-price">1000</p>
        <p class="form-paragraph">UAH</p>
      </div></div>
      <button type="submit" class="modal-submit-btn">MAKE A RESERVATION</button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>