


.main-about-section {
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;

  background-color: #F6F6F6;
}


.main-about-container {
margin-left: auto;
margin-right: auto;
max-width: 375px;
padding-left: 20px;
padding-right: 20px;
}


.main-about-photo-container {
margin-bottom: 32px;
}


.section-title-invisible {
  display: none;
}


.main-rest-hotel-review {
position: relative;
}


.main-about-list {
  list-style: none;
margin-right: auto;
margin-left: auto;
display: flex;
  flex-direction: column;
  row-gap: 20px;}


.main-review-container {
display: flex;
width: 212px;
height: 61px;

padding-left: 14px;
padding-top: 10px;
padding-bottom: 10px;

position: absolute;
z-index: 3;
right: 0;
 bottom: -39px;
 
  
border-radius: 6px;
background-color: #121212;
box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);

opacity: 0;
transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-about-photo-container:hover .main-review-container,
.main-about-photo-container:focus .main-review-container
 {opacity: 100;}


.main-review-img {border-radius: 50%;
}

.main-review-text-container {
  
  margin-left: 12px;
  
  
}

.main-review-title {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
color: #F7F7F7;

  margin-bottom: 7px;
}

.main-review-text {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 133.02%;
color: #F7F7F7;}

.main-review-text-gray {color: #575757;}



/*  main-rest-hotel   */


.main-rest-hotel-container {
  margin-bottom: 64px;}


.main-rest-hotel-title {
  margin-bottom: 18px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

letter-spacing: 0.18em;
text-transform: uppercase;

color: #484848;
}




.main-rest-hotel-text {max-width: 335px;
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

letter-spacing: -0.02em;
text-transform: uppercase;

color: #121212;}



.main-rest-hotel-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.main-buisness-hotel-review {position: relative;
padding-bottom: 54px;}

.main-review-container-sec {
display: flex;
width: 212px;
height: 61px;

padding-left: 14px;
padding-top: 10px;
padding-bottom: 10px;

position: absolute;
z-index: 2;
left: 0;
bottom: 33px;


border-radius: 6px;
background-color: #121212;
box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);

opacity: 0;
transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-buisness-hotel-review:hover .main-review-container-sec,
.main-buisness-hotel-review:focus .main-review-containe-sec
 {opacity: 100;}


.main-business-hotel-text {
margin-bottom: 40px;

max-width: 263px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

letter-spacing: -0.02em;
text-transform: uppercase;

color: #121212;}