.welcome {
    padding-top: 64px;
    padding-bottom: 64px;
}

.welcome-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
    text-transform: uppercase;
    width: 335px;
    margin-bottom: 32px;
}

.italic-w {
    font-style: italic;
}

.welcome-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}

.welcome-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    width: 335px;
}