.main-about-section {
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;

  background-color: #f6f6f6;
}

@media screen and (min-width: 768px) {
  .main-about-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .main-about-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


.main-about-photo {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .main-about-photo {
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .main-about-photo {
    margin-bottom: 0;
  }
}

.section-title-invisible {
  display: none;
}

.main-rest-hotel-review {
  position: relative;
}

.main-about-list {
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .main-about-list {
    display: flex;
    flex-direction: row;
  }

  .main-about-rest-hotel-img {
    position: absolute;
    top: 209px;
    left: 300px;
    z-index: 2;
  }
}

@media screen and (min-width: 1440px) {
  .main-about-rest-hotel-img {
    position: absolute;
    width: 439px;
    top: 209px;
    left: 300px;
    z-index: 2;
  }
}

.main-review-wrapper {
  display: flex;
  width: 212px;
  height: 61px;

  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;

  position: absolute;
  z-index: 3;
  bottom: -39px;
  right: 0;

  border-radius: 6px;
  background-color: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);

  opacity: 0;
  transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-review-wrapper {
    top: 176px;
    right: -100px;
  }
}

.main-about-photo:hover .main-review-wrapper,
.main-about-photo:focus .main-review-wrapper {
  opacity: 100;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 1440px) {
  .main-about-rest-hotel-wrapper:hover .main-review-wrapper,
.main-about-rest-hotel-wrapper:focus .main-review-wrapper {
  opacity: 100;
  transition: 0.5s ease-in;
}
}


.main-review-img {
  border-radius: 50%;
}

.main-review-text-wrapper {
  margin-left: 12px;
}

.main-review-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #f7f7f7;

  margin-bottom: 7px;
}

.main-review-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133.02%;
  color: #f7f7f7;
}

.main-review-text-gray {
  color: #575757;
}

.main-rest-hotel-wrapper {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .main-rest-hotel-wrapper {
    width: 472px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .main-rest-hotel-wrapper {
    width: 439px;
    margin-left: 434px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.main-rest-hotel-title {
  margin-bottom: 18px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: #484848;
}

.main-rest-hotel-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}

@media screen and (min-width: 768px) {
  .main-rest-hotel-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-rest-hotel-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.main-buisness-hotel-review {
  position: relative;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .main-buisness-hotel-review {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

@media screen and (min-width: 1440px) {
  .main-buisness-hotel-review {
    margin-bottom: 0;
  }
}

.main-review-wrapper-sec {
  display: flex;
  width: 212px;
  height: 61px;

  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;

  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 33px;

  border-radius: 6px;
  background-color: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);

  opacity: 0;
  transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-review-wrapper-sec {
    left: 67px;
    bottom: 128px;
  }
}

@media screen and (min-width: 1440px) {
  .main-review-wrapper-sec {
    left: -107px;

    bottom: 128px;
  }
}

.main-buisness-hotel-review:hover .main-review-wrapper-sec,
.main-buisness-hotel-review:focus .main-review-wrapper-sec {
  opacity: 100;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 1440px) {
  .main-about-buisness-hotel-wrapper:hover .main-review-wrapper-sec,
.main-about-buisness-hotel-wrapper:focus .main-review-wrapper-sec {
  opacity: 100;
  transition: 0.5s ease-in;
}
}



@media screen and (min-width: 768px) {
  .main-business-hotel-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
}

@media screen and (min-width: 1440px) {
  .main-business-hotel-wrapper {
    height: 309px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: start;

    margin-top: 127px;
    margin-right: 82px;
  }
}

.main-business-hotel-text-wrapper {
  max-width: 263px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-business-hotel-text-wrapper {
    margin-bottom: 0;
    margin-left: 32px;
  }
}

.main-business-hotel-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}

@media screen and (min-width: 1440px) {
  .main-about-rest-hotel-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main-about-buisness-hotel-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
