.restaurant {
    background-color: #F7F7F7;
 }
 
 .for-btn-position {
     min-width: 320px;
     max-width: 375px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
   }
   
   @media screen and (min-width: 768px) and (max-width: 1439.98px) {
     .for-btn-position {
       max-width: 767.98px;
       padding-left: 32px;
       padding-right: 32px;
     }
   }
   
   @media screen and (min-width: 1440px) {
     .for-btn-position {
       position: relative;
       max-width: 1439.98px;
     }
   }
 
 @media screen and (min-width: 768px) {
     .restaurant-description {
         display: flex;
     }
 }
 
 @media screen and (min-width: 1440px) {
     .restaurant-description {
         padding-top: 44px;
     }
 }
 
 .restaurant-title {
     font-family: 'DM Sans';
     font-style: normal;
     font-weight: 500;
     font-size: 40px;
     line-height: 40px;
     text-align: left;
     letter-spacing: -0.02em;
     text-transform: uppercase;
     margin-bottom: 24px;
     color: var(--main-black-color);
    
 
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-title {
         font-size: 68px;
         line-height: 68px;
         margin-bottom: 0;
     }
 }
 
 .restaurant-text {
     font-family: 'DM Sans';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 18px;
     text-align: left;
     letter-spacing: -0.02em;
     text-transform: uppercase;
     width: 239px;
     color: var(--main-black-color);
     
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-text {
         padding-top: 7px;
         padding-bottom: 7px;
         margin-left: 32px;
     }
 }
 
 .restaurant-content {
     margin-top: 32px;
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-content {
         margin-top: 80px;
     }
 }
 
 @media screen and (min-width: 1440px) {
     .restaurant-content {
         margin-top: 125px;
 
     }
 }
 
 .restaurant-list {
     display: flex;
     justify-content: center;
     gap: 20px;
 }
 
 .restaurant-img {
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
 
 .restaurant-slider {
  display: flex;
  margin-top: 18px;
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-slider {
         margin-top: 32px;
     }
 }
 
 @media screen and (min-width: 1440px) {
     .restaurant-slider {
         margin-top: 51px;
         justify-content: center;
     }
 }
 
 .restaurant-slider .restaurant-slider-item + .restaurant-slider-item {
     margin-left: 20px;
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-slider .restaurant-slider-item + .restaurant-slider-item {
         margin-left: 32px;
     }
 }
 
 .restaurant-slider-item {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 24px;
     height: 24px;
     border-radius: 4px;
 
 
     stroke: rgba(18, 18, 18, 0.3);
 
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-slider-item {
         width: 36px;
         height: 36px;
         border-radius: 10px;
     }
 }
 
 .restaurant-slider-item:hover,
 .restaurant-slider-item:focus {
     background-color: rgba(0, 0, 0, 0.25);
     
     stroke: var(--main-black-color);
 
 }
 
 .restaurant-slider-icon {
     fill: transparent;
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-slider-icon {
         width: 7px;
         height: 14px;
 
     }
 }
 
 .restaurant-btns {
     display: flex;
     margin-top: 40px;
     justify-content: center;
     gap: 12px;
 }
 
 @media screen and (min-width: 768px) {
     .restaurant-btns {
         gap: 14px;
 
     }
 }
 
 @media screen and (min-width: 1440px) {
     .restaurant-btns {
         position: absolute;
         margin-top: 0;
         top: 44px;
         right: 32px;
     }
 }
 
 .js-open-modal.white,
 .restaurant-link {
     padding: 8px 18px;
     height: 34px;
     border-radius: 32px;
     background-color: transparent;
     border: 0.8px solid #121212;
     text-transform: uppercase;
     color: var(--main-black-color);
     display: block;
     font-family: var(--primary-font);
     font-style: normal;
     font-weight: 400px;
     line-height: calc(18 / 14);
     text-align: center;
     font-size: 14px;
     letter-spacing: -0.02em;
     cursor: pointer;
     
 }
 
 @media screen and (min-width: 768px) {
 
     .js-open-modal.white,
     .restaurant-link {
         padding: 8px 24px;
         height: 40px;
         font-size: 16px;
         line-height: 1.33;
     }
 }
 
 @media screen and (min-width: 1440px) {
 
     .js-open-modal.white,
     .restaurant-link {
         padding: 9px 24px;
         height: 42px;
         font-size: 18px;
         line-height: 1.33;
     }
 }
 
 .js-open-modal:hover,
 .js-open-modal:focus,
 .restaurant-link:hover,
 .restaurant-link:focus {
     background-color: #121212;
     color: #f7f7f7;
 }