/**
      |============================
      | ---------RESTAURANT HERO STYLES ----------
      |============================
    */
.home-restaurant-section {
  background-color: var(--main-light-color);
}
.home-restaurant-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: var(--main-black-color);
  margin-bottom: 24px;
}
.home-restaurant-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  max-width: 221px;
  margin-bottom: 32px;
}

.js-open-modal.white,
.restaurant-link {
  padding: 8px 18px;
  /* height: 34px; */
  border-radius: 32px;
  background-color: transparent;
  border: 0.8px solid #121212;
  text-transform: uppercase;
  color: var(--main-black-color);
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400px;
  line-height: 1.33;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.js-open-modal:hover,
.js-open-modal:focus,
.restaurant-link:hover,
.restaurant-link:focus {
  background-color: #121212;
  color: #f7f7f7;
}

.restaurant-btn-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .variable-width{
    display: flex;
} */

/**
      |============================
      | ---------RESTAURANT HERO TABLET STYLES ----------
      |============================
    */
@media screen and (min-width: 768px) {
  .home-restaurant-title {
    font-size: 68px;
    line-height: 68px;
    margin-bottom: 0;
  }

  .home-restaurant-title-box {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .restaurant-btn-list{
    display: flex;
    align-content: center;
    gap: 14px;
  }
}

/**
        |============================
        | ---------RESTAURANT DESKTOP STYLES ----------
        |============================
      */

@media screen and (min-width: 1440px) {
}
