<section class="section hero-section">
  <div class="container">
    <h1 class="hero-title">Hidden</h1>
    <ul class="restaurant-text">
      <li class="text">
        24-hour front desk service Daily housekeeping Free Wi-Fi throughout the
        hotel Elevator access Luggage storage Non-smoking rooms available
        Meeting rooms for business and events On-site parking (surcharge)
        Concierge services
      </li>
    </ul>
  </div>
  <section class="amenities-wrap">
    <div class="container">
      <ul class="pic-list">
        <li>
          <source
            media="(min-width: 1200px)"
            srcset="
              /images/desktop/room/home_room1_desktop.webp    1x,
              /images/desktop/room/home_room1_desktop@2x.webp 2x
            "
            type="image/webp"
          />
        </li>
        <li>картинка</li>
      </ul>
    </div>
  </section>

  <ul class="btn-list">
    <li class="list-item">
      <button type="button" class="js-open-modal-btn" data-modal="2">
        book a room
      </button>
    </li>
  </ul>
</section>
