<section class="room-hero-section">
    <div class="container room-hero-container">
      <div class="room-hero-title-container">
        <h1 class="room-hero-title">
          DOUBLE <span class="italic-txt">LUXURY</span> ROOM
        </h1>
        <button class="room-btn btn" type="button">View prices</button>

        <img class="temporary" src="images/mobile/room/scrol_room/scrol_room1_mobile.jpg" alt="room" width="250">

        <p class="room-hero-txt">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>
      </div>

    </div>
  </section>