<section class="room-hero-section">
    <div class="container room-hero-box">
        <h1 class="room-hero-title">
          DOUBLE<br><span class="italic-txt">LUXURY</span> ROOM
        </h1>
        <button class="room-btn btn" type="button">View prices</button>



        <div class="room-slider-wrapper">
          <div class="variable-width">
            <div class="item">
              <picture>

                
                <!-- desktop -->
                 <source
                  media="(min-width: 1440px)"
                  srcset="
                  
                  /images/desktop/room/scrol_room_desktop/scrol_room1_desktop.webp 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room1_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
        
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  /images/desktop/room/scrol_room_desktop/scrol_room1_desktop.jpg 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room1_desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  />
    
                  <!-- tablet -->
                  <source
                    media="(min-width: 767px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room1_tablet.webp 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room1_tablet@2x.webp 2x
                    "
                    type="image/webp"
                  />
      
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room1_tablet.jpg 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room1_tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

    
                <!-- mobile -->
                <source
                media="(max-width: 767px)"
                srcset=" 
                /images/mobile/room/scrol_room/scrol_room1_mobile.webp 1x, 
                /images/mobile/room/scrol_room/scrol_room1_mobile@2x.webp 2x"
                  type="image/webp"
                />
    
                <source
                  media="(max-width: 767px)"
                  srcset="
                  /images/mobile/room/scrol_room/scrol_room1_mobile.jpg 1x,
                  /images/mobile/room/scrol_room/scrol_room1_mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
    
                <img
                  src="/images/mobile/room/scrol_room/scrol_room1_mobile.jpg"
                  alt="bedroom"
                  loading="lazy"
                />
              </picture>
            </div>
    
    
    
            <div class="item">
    
              <picture>
                
                <!-- desktop -->
                 <source
                  media="(min-width: 1440px)"
                  srcset="
                  
                  /images/desktop/room/scrol_room_desktop/scrol_room2_desktop.webp 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room2_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
        
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  /images/desktop/room/scrol_room_desktop/scrol_room2_desktop.jpg 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room2_desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  />
    
                  <!-- tablet -->
                  <source
                    media="(min-width: 767px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room2_tablet.webp 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room2_tablet@2x.webp 2x
                    "
                    type="image/webp"
                  />
      
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room2_tablet.jpg 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room2_tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
    
                <!-- mobile -->
                <source
                media="(max-width: 767px)"
                srcset=" 
                /images/mobile/room/scrol_room/scrol_room2_mobile.webp 1x, 
                /images/mobile/room/scrol_room/scrol_room2_mobile@2x.webp 2x"
                  type="image/webp"
                />
    
                <source
                  media="(max-width: 767px)"
                  srcset="
                  /images/mobile/room/scrol_room/scrol_room2_mobile.jpg 1x,
                  /images/mobile/room/scrol_room/scrol_room2_mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
    
                <img
                  src="/images/mobile/room/scrol_room/scrol_room2_mobile.jpg"
                  alt="kitchen"
                  loading="lazy"
                />
              </picture>
    
            </div>

            <div class="item">
    
              <picture>
                
                <!-- desktop -->
                 <source
                  media="(min-width: 1440px)"
                  srcset="
                  
                  /images/desktop/room/scrol_room_desktop/scrol_room3_desktop.webp 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room3_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
        
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  /images/desktop/room/scrol_room_desktop/scrol_room3_desktop.jpg 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room3_desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  />
    
                  <!-- tablet -->
                  <source
                    media="(min-width: 767px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room3_tablet.webp 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room3_tablet@2x.webp 2x
                    "
                    type="image/webp"
                  />
      
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room3_tablet.jpg 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room3_tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
    
                <!-- mobile -->
                <source
                media="(max-width: 767px)"
                srcset=" 
                /images/mobile/room/scrol_room/scrol_room3_mobile.webp 1x, 
                /images/mobile/room/scrol_room/scrol_room3_mobile@2x.webp 2x"
                  type="image/webp"
                />
    
                <source
                  media="(max-width: 767px)"
                  srcset="
                  /images/mobile/room/scrol_room/scrol_room3_mobile.jpg 1x,
                  /images/mobile/room/scrol_room/scrol_room3_mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
    
                <img
                  src="/images/mobile/room/scrol_room/scrol_room3_mobile.jpg"
                  alt="living room"
                  loading="lazy"
                />
              </picture>
    
            </div>


            <div class="item">
    
              <picture>
                
                <!-- desktop -->
                 <source
                  media="(min-width: 1440px)"
                  srcset="
                  
                  /images/desktop/room/scrol_room_desktop/scrol_room4_desktop.webp 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room4_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
        
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  /images/desktop/room/scrol_room_desktop/scrol_room4_desktop.jpg 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room4_desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  />
    
                  <!-- tablet -->
                  <source
                    media="(min-width: 767px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room4_tablet.webp 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room4_tablet@2x.webp 2x
                    "
                    type="image/webp"
                  />
      
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room4_tablet.jpg 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room4_tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
    
                <!-- mobile -->
                <source
                media="(max-width: 767px)"
                srcset=" 
                /images/mobile/room/scrol_room/scrol_room4_mobile.webp 1x, 
                /images/mobile/room/scrol_room/scrol_room4_mobile@2x.webp 2x"
                  type="image/webp"
                />
    
                <source
                  media="(max-width: 767px)"
                  srcset="
                  /images/mobile/room/scrol_room/scrol_room4_mobile.jpg 1x,
                  /images/mobile/room/scrol_room/scrol_room4_mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
    
                <img
                  src="/images/mobile/room/scrol_room/scrol_room4_mobile.jpg"
                  alt="bathroom"
                  loading="lazy"
                />
              </picture>
    
            </div>


            <div class="item">
    
              <picture>
                
                <!-- desktop -->
                 <source
                  media="(min-width: 1440px)"
                  srcset="
                  
                  /images/desktop/room/scrol_room_desktop/scrol_room5_desktop.webp 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room5_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
        
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  /images/desktop/room/scrol_room_desktop/scrol_room5_desktop.jpg 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room5_desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  />
    
                  <!-- tablet -->
                  <source
                    media="(min-width: 767px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room5_tablet.webp 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room5_tablet@2x.webp 2x
                    "
                    type="image/webp"
                  />
      
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room5_tablet.jpg 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room5_tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
    
                <!-- mobile -->
                <source
                media="(max-width: 767px)"
                srcset=" 
                /images/mobile/room/scrol_room/scrol_room5_mobile.webp 1x, 
                /images/mobile/room/scrol_room/scrol_room5_mobile@2x.webp 2x"
                  type="image/webp"
                />
    
                <source
                  media="(max-width: 767px)"
                  srcset="
                  /images/mobile/room/scrol_room/scrol_room5_mobile.jpg 1x,
                  /images/mobile/room/scrol_room/scrol_room5_mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
    
                <img
                  src="/images/mobile/room/scrol_room/scrol_room5_mobile.jpg"
                  alt="furniture"
                  loading="lazy"
                />
              </picture>
    
            </div>

            <div class="item">
    
              <picture>
                
                <!-- desktop -->
                 <source
                  media="(min-width: 1440px)"
                  srcset="
                  
                  /images/desktop/room/scrol_room_desktop/scrol_room6_desktop.webp 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room6_desktop@2x.webp 2x
                  "
                  type="image/webp"
                />
        
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  /images/desktop/room/scrol_room_desktop/scrol_room6_desktop.jpg 1x,
                  /images/desktop/room/scrol_room_desktop/scrol_room6_desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  />
    
                  <!-- tablet -->
                  <source
                    media="(min-width: 767px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room6_tablet.webp 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room6_tablet@2x.webp 2x
                    "
                    type="image/webp"
                  />
      
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    /images/tablet/room/scrol_room_tablet/scrol_room6_tablet.jpg 1x,
                    /images/tablet/room/scrol_room_tablet/scrol_room6_tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
    
                <!-- mobile -->
                <source
                media="(max-width: 767px)"
                srcset=" 
                /images/mobile/room/scrol_room/scrol_room6_mobile.webp 1x, 
                /images/mobile/room/scrol_room/scrol_room6_mobile@2x.webp 2x"
                  type="image/webp"
                />
    
                <source
                  media="(max-width: 767px)"
                  srcset="
                  /images/mobile/room/scrol_room/scrol_room6_mobile.jpg 1x,
                  /images/mobile/room/scrol_room/scrol_room6_mobile@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
    
                <img
                  src="/images/mobile/room/scrol_room/scrol_room6_mobile.jpg"
                  alt="tile"
                  loading="lazy"
                />
              </picture>
    
            </div>

          </div>
        </div>

        <p class="room-hero-txt">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>

    </div>
  </section>