<section class="double-section">
    <div class="conteiner">
        <div class="double-img">
            <div class="picture-list">
                <picture class="img-one">
                    <!-- Desktop screen -->
                    <source
                        media="(min-width: 1200px)"
                        srcset=" ./images/desktop/hotel/hotel_room2_desktop.webp 1x, ./images/desktop/hotel/hotel_room2_desktop@2x.webp 2x"
                        type="image/webp" />
                    <source
                        media="(min-width: 1200px)"
                        srcset="./images/desktop/hotel/hotel_room2_desktop.jpg 1x, ./images/desktop/hotel/hotel_room2_desktop@2x.jpg 2x"
                        type="image/jpg" />
                   <!-- Tablet screen -->
                   <source 
                       media="(min-width: 768px)" 
                       srcset="./images/tablet/hotel/hotel_room3_tablet.webp 1x, ./images/tablet/hotel/hotel_room3_tablet@2x.webp 2x"
                       type="image/webp" />
                   <source 
                        media="(min-width: 768px)" 
                       srcset="/images/tablet/hotel/hotel_room3_tablet.jpg 1x, ./images/tablet/hotel/hotel_room3_tablet@2x.jpg 2x"
                       type="image/jpg" />
                   <!-- Mobile screen -->
                   <source 
                        media="(max-width: 767px)" 
                        srcset="./images/mobile/hotel/hotel_room1_mobile.webp 1x, ./images/mobile/hotel/hotel_room1_mobile@2x.webp 2x"
                        type="image/webp" />
                   <source 
                        media="(max-width: 767px)"
                        srcset="./images/mobile/hotel/hotel_room1_mobile.jpg 1x, ./images/mobile/hotel/hotel_room1_mobile@2x.jpg 2x"
                        type="image/jpg" />
                   <img  
                        src="./images/mobile/hotel/hotel_room1_mobile.jpg" 
                        alt="room" 
                        width="539" 
                        height="762"
                        loading="lazy"/>
                </picture>
            <div class="double-img-two">
                <picture class="img-second">
                    <!-- Desktop screen -->
                    <source
                        media="(min-width: 1200px)"
                        srcset=" ./images/desktop/hotel/hotel_room3_desktop.webp 1x, ./images/desktop/hotel/hotel_room3_desktop@2x.webp 2x"
                        type="image/webp" />
                    <source
                        media="(min-width: 1200px)"
                        srcset=" ./images/desktop/hotel\hotel_room3_desktop.jpg 1x, ./images/desktop/hotel/hotel_room3_desktop@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Tablet screen -->
                    <source 
                        media="(min-width: 768px)" 
                        srcset=" ./images/tablet/hotel/hotel_room1_tablet.webp 1x, ./images/tablet/hotel/hotel_room1_tablet@2x.webp 2x"
                        type="image/webp" />
                    <source 
                        media="(min-width: 768px)" 
                        srcset=" ./images/tablet/hotel/hotel_room1_tablet.jpg 1x, ./images/tablet/hotel/hotel_room1_tablet@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Mobile screen -->
                    <source 
                        media="(max-width: 767px)" 
                        srcset=" ./images/mobile/hotel/hotel_room2_mobile.webp 1x, ./images/mobile/hotel/hotel_room2_mobile@2x.webp 2x"
                        type="image/webp" />
                    <source 
                        media="(max-width: 767px)"
                        srcset="./images/mobile/hotel/hotel_room2_mobile.jpg 1x, ./images/mobile/hotel/hotel_room2_mobile@2x.jpg 2x"
                        type="image/jpg" />
                    <img class="" 
                        src="./images/mobile/hotel/hotel_room2_mobile.jpg" 
                        alt="room" 
                        width="387" 
                        height="510"
                        loading="lazy" />
                </picture>
                <picture class="img-third">
                    <!-- Desktop screen -->
                    <source
                        media="(min-width: 1200px)"
                        srcset="./images/desktop/hotel/hotel_room1_desktop.webp 1x, ./images/desktop/hotel/hotel_room1_desktop@2x.webp 2x"
                        type="image/webp" />
                    <source
                        media="(min-width: 1200px)"
                        srcset=" ./images/desktop/hotel/hotel_room1_desktop.jpg 1x, ./images/desktop/hotel/hotel_room1_desktop@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Tablet screen -->
                    <source 
                        media="(min-width: 768px)" 
                        srcset=" ./images/tablet/hotel/hotel_room2_tablet.webp 1x, ./images/tablet/hotel/hotel_room2_tablet@2x.webp 2x"
                        type="image/webp" />
                    <source 
                        media="(min-width: 768px)" 
                        srcset=" ./images/tablet/hotel/hotel_room2_tablet.jpg 1x, ./images/tablet/hotel/hotel_room2_tablet@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Mobile screen -->
                    <source 
                        media="(max-width: 767px)" 
                        srcset=" ./images/mobile/hotel/hotel_room3_mobile.webp 1x, ./images/mobile/hotel/hotel_room3_mobile@2x.webp 2x"
                        type="image/webp" />
                    <source 
                        media="(max-width: 767px)"
                        srcset=" ./images/mobile/hotel/hotel_room3_mobile.jpg 1x, ./images/mobile/hotel/hotel_room3_mobile@2x.jpg 2x"
                        type="image/jpg" />
                    <img class="" 
                        src="./images/mobile/hotel/hotel_room3_mobile.jpg" 
                        alt="room" 
                        width="386" 
                        height="395"
                        loading="lazy" />
                </picture>
            </div>
        </div>
            <h2 class="double-title">DOUBLE LUXURY ROOM</h2>
            <ul class="double-list">
                <li class="double-text text-one">
                    Experience luxury in our Double Luxury Room at Mimino Hotel. 
                    This spacious room features a comfortable bed, private bathroom, 
                    flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, 
                    and soundproofing ensure a peaceful night's sleep.
                </li>
                <li class="double-text text-two">
                    Relax after a busy day at the writing desk or armchair. 
                    Book now for a convenient and comfortable stay.
                </li>
            </ul>
            <ul class="double-btn-list">
                <li>
                    <a href="./room.html" class="double-link">More details</a>
                </li>
                <li>
                    <button type="button" class="double-btn">View prices</button>
                </li>
            </ul>
        </div>
   </div>
</section>