<section class="hotel-hero-section">
  <div class="container hotel-hero-container">
    <h1 class="hotel-hero-title animate__animated animate__backInRight">
      Hotel
    </h1>
    <ul class="hotel-hero-btn-list">
      <li><button type="button" class="hotel-hero-btn js-open-modal" data-modal="1" >book a room</button></li>
      <li><button class="hotel-hero-btn js-open-modal" type="button" data-modal="3">View prices</button></li>
    </ul>

    <div class="hotel-slider-wrapper">
      <div class="variable-width">
        <div class="item">
          <picture>
            
            <!-- desktop -->
             <source
              media="(min-width: 1440px)"
              srcset="
                /images/desktop/hotel/scrol_building/building1_desktop.webp 1x,
                /images/desktop/hotel/scrol_building/building1_desktop@2x.webp 2x
              "
              type="image/webp"
            />
    
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/desktop/hotel/scrol_building/building1_desktop.jpg 1x,
                /images/desktop/hotel/scrol_building/building1_desktop@2x.jpg 2x
              "
              type="image/jpeg"
              />

              <!-- tablet -->
              <source
                media="(min-width: 767px)"
                srcset="
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building1_tablet.webp 1x,
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building1_tablet@2x.webp 2x
                "
                type="image/webp"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building1_tablet.jpg 1x,
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building1_tablet@2x.jpg 2x
                "
                type="image/jpeg"
              />

            <!-- mobile -->
            <source
            media="(max-width: 767px)"
            srcset=" 
            /images/mobile/hotel/scrol_hotel/scrol_building1_mobile.webp 1x, 
            /images/mobile/hotel/scrol_hotel/scrol_building1_mobile@2x.webp 2x"
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile/hotel/scrol_hotel/scrol_building1_mobile.jpg 1x,
                /images/mobile/hotel/scrol_hotel/scrol_building1_mobile@2x.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              src="/images/mobile/hotel/scrol_building/scrol_building1_mobile.jpg"
              alt="front of the building"
              loading="lazy"
            />
          </picture>
        </div>



        <div class="item">

          <picture>
            
            <!-- desktop -->
             <source
              media="(min-width: 1440px)"
              srcset="
                /images/desktop/hotel/scrol_building/building2_desktop.webp 1x,
                /images/desktop/hotel/scrol_building/building2_desktop@2x.webp 2x
              "
              type="image/webp"
            />
    
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/desktop/hotel/scrol_building/building2_desktop.jpg 1x,
                /images/desktop/hotel/scrol_building/building2_desktop@2x.jpg 2x
              "
              type="image/jpeg"
              />

              <!-- tablet -->
              <source
                media="(min-width: 767px)"
                srcset="
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building2_tablet.webp 1x,
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building2_tablet@2x.webp 2x
                "
                type="image/webp"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building2_tablet.jpg 1x,
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building2_tablet@2x.jpg 2x
                "
                type="image/jpeg"
              />

            <!-- mobile -->
            <source
            media="(max-width: 767px)"
            srcset=" 
            /images/mobile/hotel/scrol_hotel/scrol_building2_mobile.webp 1x, 
            /images/mobile/hotel/scrol_hotel/scrol_building2_mobile@2x.webp 2x"
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile/hotel/scrol_hotel/scrol_building2_mobile.jpg 1x,
                /images/mobile/hotel/scrol_hotel/scrol_building2_mobile@2x.jpg 2x
              "
              type="image/jpeg"
            />

             <img
            src="/images/mobile/hotel/scrol_hotel/scrol_building2_mobile.jpg"
            alt="side of the building"
              loading="lazy"
          />
          </picture>

         
        </div>


        <div class="item">

          <picture>
            
            <!-- desktop -->
             <source
              media="(min-width: 1440px)"
              srcset="
                /images/desktop/hotel/scrol_building/building3_desktop.webp 1x,
                /images/desktop/hotel/scrol_building/building3_desktop@2x.webp 2x
              "
              type="image/webp"
            />
    
            <source
              media="(min-width: 1440px)"
              srcset="
                /images/desktop/hotel/scrol_building/building3_desktop.jpg 1x,
                /images/desktop/hotel/scrol_building/building3_desktop@2x.jpg 2x
              "
              type="image/jpeg"
              />

              <!-- tablet -->
              <source
                media="(min-width: 767px)"
                srcset="
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building3_tablet.webp 1x,
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building3_tablet@2x.webp 2x
                "
                type="image/webp"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building3_tablet.jpg 1x,
                  /images/tablet/hotel/scrol_hotel_tablet/scrol_hotel_building3_tablet@2x.jpg 2x
                "
                type="image/jpeg"
              />

            <!-- mobile -->
            <source
            media="(max-width: 767px)"
            srcset=" 
            /images/mobile/hotel/scrol_hotel/scrol_building3_mobile.webp 1x, 
            /images/mobile/hotel/scrol_hotel/scrol_building3_mobile@2x.webp 2x"
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile/hotel/scrol_hotel/scrol_building3_mobile.jpg 1x,
                /images/mobile/hotel/scrol_hotel/scrol_building3_mobile@2x.jpg 2x
              "
              type="image/jpeg"
            />

             <img
            src="/images/mobile/hotel/scrol_hotel/scrol_building3_mobile.jpg"
            alt="side of the building"
              loading="lazy"
          />
          </picture>

        </div>
      </div>
    </div>

    <p class="hotel-hero-txt">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
</section>
