<section class="triple">
    <div class="triple-container">
        <div class="triple-wrap">
            <picture class="triple-first">
                <!-- Desktop screen -->
                <source media="(min-width: 1440px)"
                    srcset="/images/desktop/hotel/hotel_room5_desktop.webp 1x, /images/desktop/hotel/hotel_room5_desktop@2x.webp 2x "
                    type="image/webp" />
                <source media="(min-width: 1440px)"
                    srcset="/images/desktop/hotel/hotel_room5_desktop.jpg 1x, /images/desktop/hotel/hotel_room5_desktop@2x.jpg 2x"
                    type="image/jpg" />
                <!-- Tablet screen -->
                <source media="(min-width: 768px)"
                    srcset="/images/tablet/hotel/hotel_room4_tablet.webp 1x, /images/tablet/hotel/hotel_room4_tablet@2x.webp 2x"
                    type="image/webp" />
                <source media="(min-width: 768px)"
                    srcset="/images/tablet/hotel/hotel_room4_tablet.jpg 1x, /images/tablet/hotel/hotel_room4_tablet@2.jpg 2x"
                    type="image/jpg" />
                <!-- Mobile screen -->
                <source media="(max-width: 767px)"
                    srcset="/images/mobile/hotel/hotel_room4_mobile.webp 1x, /images/mobile/hotel/hotel_room4_mobile@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width: 767px)"
                    srcset="/images/mobile/hotel/hotel_room4_mobile.jpg 1x, /images/mobile/hotel/hotel_room4_mobile@2x.jpg 2x"
                    type="image/jpg" />
                <img class="" src="/images/mobile/hotel/hotel_room4_mobile.jpg" alt="" width="539" height="762"
                    loading="lazy" />
            </picture>
            <div class="sec-thr-wrap">
                <picture class="triple-second">
                    <!-- Desktop screen -->
                    <source media="(min-width: 1440px)"
                        srcset="/images/desktop/hotel/hotel_room6_desktop.webp 1x, /images/desktop/hotel/hotel_room6_desktop@2x.webp 2x "
                        type="image/webp" />
                    <source media="(min-width: 1440px)"
                        srcset="/images/desktop/hotel/hotel_room6_desktop.jpg 1x, /images/desktop/hotel/hotel_room6_desktop@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)"
                        srcset="/images/tablet/hotel/hotel_room5_tablet.webp 1x, /images/tablet/hotel/hotel_room5_tablet@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="/images/tablet/hotel/hotel_room5_tablet.jpg 1x, /images/tablet/hotel/hotel_room5_tablet@2.jpg 2x"
                        type="image/jpg" />
                    <!-- Mobile screen -->
                    <source media="(max-width: 767px)"
                        srcset="/images/mobile/hotel/hotel_room5_mobile.webp 1x, /images/mobile/hotel/hotel_room5_mobile@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 767px)"
                        srcset="/images/mobile/hotel/hotel_room5_mobile.jpg 1x, /images/mobile/hotel/hotel_room5_mobile@2x.jpg 2x"
                        type="image/jpg" />
                    <img class="" src="/images/mobile/hotel/hotel_room5_mobile.jpg" alt="" width="387" height="510"
                        loading="lazy" />
                </picture>
                <picture class="triple-third">
                    <!-- Desktop screen -->
                    <source media="(min-width: 1440px)"
                        srcset="/images/desktop/hotel/hotel_room4_desktop.webp 1x, /images/desktop/hotel/hotel_room4_desktop@2x.webp 2x "
                        type="image/webp" />
                    <source media="(min-width: 1440px)"
                        srcset="/images/desktop/hotel/hotel_room4_desktop.jpg 1x, /images/desktop/hotel/hotel_room4_desktop@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)"
                        srcset="/images/tablet/hotel/hotel_room6_tablet.webp 1x, /images/tablet/hotel/hotel_room6_tablet@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="/images/tablet/hotel/hotel_room6_tablet.jpg 1x, /images/tablet/hotel/hotel_room6_tablet@2.jpg 2x"
                        type="image/jpg" />
                    <!-- Mobile screen -->
                    <source media="(max-width: 767px)"
                        srcset="/images/mobile/hotel/hotel_room6_mobile.webp 1x, /images/mobile/hotel/hotel_room6_mobile@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 767px)"
                        srcset="/images/mobile/hotel/hotel_room6_mobile.jpg 1x, /images/mobile/hotel/hotel_room6_mobile@2x.jpg 2x"
                        type="image/jpg" />
                    <img class="" src="/images/mobile/hotel/hotel_room6_mobile.jpg" alt="" width="386" height="395"
                        loading="lazy" />
                </picture>
            </div>
        </div>
        <div class="triple-desktop">
            <picture class="desk-pic-one">
                <!-- Desktop screen -->
                <source media="(min-width: 1440px)"
                    srcset="/images/desktop/hotel/hotel_room4_desktop.webp 1x, /images/desktop/hotel/hotel_room4_desktop@2x.webp 2x "
                    type="image/webp" />
                <source media="(min-width: 1440px)"
                    srcset="/images/desktop/hotel/hotel_room4_desktop.jpg 1x, /images/desktop/hotel/hotel_room4_desktop@2x.jpg 2x"
                    type="image/jpg" />
                <!-- Tablet screen -->
                <source media="(min-width: 768px)"
                    srcset="/images/tablet/hotel/hotel_room6_tablet.webp 1x, /images/tablet/hotel/hotel_room6_tablet@2x.webp 2x"
                    type="image/webp" />
                <source media="(min-width: 768px)"
                    srcset="/images/tablet/hotel/hotel_room6_tablet.jpg 1x, /images/tablet/hotel/hotel_room6_tablet@2.jpg 2x"
                    type="image/jpg" />
                <!-- Mobile screen -->
                <source media="(max-width: 767px)"
                    srcset="/images/mobile/hotel/hotel_room6_mobile.webp 1x, /images/mobile/hotel/hotel_room6_mobile@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width: 767px)"
                    srcset="/images/mobile/hotel/hotel_room6_mobile.jpg 1x, /images/mobile/hotel/hotel_room6_mobile@2x.jpg 2x"
                    type="image/jpg" />
                <img class="" src="/images/mobile/hotel/hotel_room6_mobile.jpg" alt="" width="386" height="395"
                    loading="lazy" />
            </picture>
            <picture class="desk-pic-two">
                <!-- Desktop screen -->
                <source media="(min-width: 1440px)"
                    srcset="/images/desktop/hotel/hotel_room5_desktop.webp 1x, /images/desktop/hotel/hotel_room5_desktop@2x.webp 2x "
                    type="image/webp" />
                <source media="(min-width: 1440px)"
                    srcset="/images/desktop/hotel/hotel_room5_desktop.jpg 1x, /images/desktop/hotel/hotel_room5_desktop@2x.jpg 2x"
                    type="image/jpg" />
                <!-- Tablet screen -->
                <source media="(min-width: 768px)"
                    srcset="/images/tablet/hotel/hotel_room4_tablet.webp 1x, /images/tablet/hotel/hotel_room4_tablet@2x.webp 2x"
                    type="image/webp" />
                <source media="(min-width: 768px)"
                    srcset="/images/tablet/hotel/hotel_room4_tablet.jpg 1x, /images/tablet/hotel/hotel_room4_tablet@2.jpg 2x"
                    type="image/jpg" />
                <!-- Mobile screen -->
                <source media="(max-width: 767px)"
                    srcset="/images/mobile/hotel/hotel_room4_mobile.webp 1x, /images/mobile/hotel/hotel_room4_mobile@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width: 767px)"
                    srcset="/images/mobile/hotel/hotel_room4_mobile.jpg 1x, /images/mobile/hotel/hotel_room4_mobile@2x.jpg 2x"
                    type="image/jpg" />
                <img class="" src="/images/mobile/hotel/hotel_room4_mobile.jpg" alt="" width="539" height="762"
                    loading="lazy" />
            </picture>
            <div class="sec-thr-wrap">
                <picture class="desk-pic-three">
                    <!-- Desktop screen -->
                    <source media="(min-width: 1440px)"
                        srcset="/images/desktop/hotel/hotel_room6_desktop.webp 1x, /images/desktop/hotel/hotel_room6_desktop@2x.webp 2x "
                        type="image/webp" />
                    <source media="(min-width: 1440px)"
                        srcset="/images/desktop/hotel/hotel_room6_desktop.jpg 1x, /images/desktop/hotel/hotel_room6_desktop@2x.jpg 2x"
                        type="image/jpg" />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)"
                        srcset="/images/tablet/hotel/hotel_room5_tablet.webp 1x, /images/tablet/hotel/hotel_room5_tablet@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="/images/tablet/hotel/hotel_room5_tablet.jpg 1x, /images/tablet/hotel/hotel_room5_tablet@2.jpg 2x"
                        type="image/jpg" />
                    <!-- Mobile screen -->
                    <source media="(max-width: 767px)"
                        srcset="/images/mobile/hotel/hotel_room5_mobile.webp 1x, /images/mobile/hotel/hotel_room5_mobile@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 767px)"
                        srcset="/images/mobile/hotel/hotel_room5_mobile.jpg 1x, /images/mobile/hotel/hotel_room5_mobile@2x.jpg 2x"
                        type="image/jpg" />
                    <img class="" src="/images/mobile/hotel/hotel_room5_mobile.jpg" alt="" width="387" height="510"
                        loading="lazy" />
                </picture>
            </div>
        </div>
        <div class="desk-wrap">
            <div class="desk-wrap-one">
                <h2 class="triple-title">Triple Room</h2>
                <ul class="triple-text-list">
                    <li class="triple-text">Escape to our spacious Triple Room, perfect for families or groups. Enjoy
                        comfort with three beds, seating area,
                        stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</li>
                    <li class="triple-text">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
                        now for a memorable stay.</li>
                </ul>
            </div>
            <div class="desk-wrap-two">
                <ul class="triple-btn-list">
                    <li><a href="" class="triple-link">More details</a></li>
                    <li><button type="button" class="triple-btn">View prices</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>