<header class="header">
        
    <div class="conteiner">

        <button data-menu-open type="button" class="mobile-menu-open" > 
        <svg class="mobile-menu-open_icon" width="28" height="28" >
        <use href="./images/icons.svg#icon-burger_white"></use>
        </svg> 
        </button>

        <div class="head-mobile">
        <a href="./home.html" class="logo">Mimino</a>  
        <p class="rhc">restaurant-hotel complex</p>
        </div>

    </div>

    <div data-menu class="mobile-menu" >
    <div class="menu-center">
        <button data-menu-close class="mobile-close-win" type="button" >
          <svg class="mobile-cross" width="20" height="20">
           <use href="./images/icons.svg#icon-close_white"></use>
          </svg></button>

        <div class="head-mobile menu">
        <a href="./home.html" class="logo">Mimino</a>  
        <p class="rhc">restaurant-hotel complex</p>
 
       </div>
     </div>   
          <ul class="mobile-items">
            <li class="mobile-item"><a href="./home.html" class="mobile-link active">Home</a></li>
  
            <li class="mobile-item"><a href="./hotel.html" class="mobile-link">Hotel</a></li>
  
            <li class="mobile-item"><a href="./restaurant.html" class="mobile-link">Restaurant</a></li>

          </ul>

          <ul class="mobile-menu-icons">
            <li >
                <svg class="mobile-menu-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram_white_mobile"></use>
                </svg>
            </li>
            <li>
                <svg class="mobile-menu-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook_white_mobile"></use>
                </svg>
            </li>
            <li>
                <svg class="mobile-menu-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-twitter_white_mobile"></use>
                </svg>
            </li>
          </ul>
        </div>
</header>