.double-section {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--main-light-color);
}
@media screen and (min-width:768px) {
    .double-section {
        padding-top: 80px;
    }
}
@media screen and (min-width:1440px) {
    .double-section {
        padding-top: 100px;
    }
}

.conteiner {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width:768px) {
    .conteiner{
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media screen and (min-width:1440px) {
    .conteiner{
        max-width: 1376px;
    }
}
@media screen and (min-width:768px) and (max-width: 1439px){
    .picture-list{
        display: flex;
        flex-direction: row-reverse;
        gap:32px;
        margin-bottom: 40px;
}
}
@media screen and (min-width:1440px){
    .picture-list {
        display: none;
    }
}
.double-img-one {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 32px;
    
}
@media screen and (min-width:768px){
    .double-img-one {
        margin-top: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        gap: 32px;
    }
}
@media screen and (min-width:768px){
    .img-one{
        width: 100%; 
}
}
.img-second {
    display: block;
    width: 158px;
    height: 149px;
}
.img-third {
    display: block;
    width: 158px;
    height: 149px;
}
@media screen and (min-width:768px) and (max-width:1439px){
    .img-second {
        width: 223px;
        height: 261px;
    }
    .img-third {
        width: 341px;
        height: 175px;
    }
}
@media screen and (min-width:1440px){
    .img-second {
        width: 387px;
        height: 510px;
    }
    .img-third {
        width: 386px;
        height: 395px;
    }
}
.picture-list-two{
display: none;
}
@media screen and (min-width:1440px) {
    .picture-list-two{
        display: flex;
        align-items: center ;
        gap: 32px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 1440px) {
    .double-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
    }
}
.double-title {
    width: 245px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;

    color: #121212;
}
@media screen and (min-width:768px) {
    .double-title{
        width: 438px;
        font-size: 40px;
        line-height: 44px;
    }
}
.double-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-bottom: 28px;
}
@media screen and (min-width:768px) {
    .double-list {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 40px;
    }
    .text-one{
        width: 369px;
    }
    .text-two{
        width: 299px;
    }
}
@media screen and (min-width:1440px){
    .text-one{
        width: 355px;
    }
}
.double-text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    margin-bottom: 28px;
    
    color: #121212;
}
@media screen and (min-width:768px) {
    .double-text{
        font-size: 18px;
        line-height: 24px;
    }
}
.double-btn-list{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
    gap: 12px;
}
@media screen and (min-width:768px) {
    .double-btn-list{
        justify-content: flex-end;
        gap: 14px;
    }
}
@media screen and (min-width:1440px) {
    .double-btn-list{
        margin-left: auto;
    }
}
.double-link {
    padding: 8px 18px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
    background-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:768px) {
    .double-link{
        line-height: 24px;
        padding: 8px 24px;
    }
}
@media screen and (min-width:768px) {
    .double-link{
        font-size: 18px;
        padding: 9px 24px;
    }
}
.double-link:hover,
.double-link:focus{
    color: #fff;
    background-color: #121212;
  
}
.double-btn {
    border: 0.8px solid #121212;
    border-radius: 32px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 18px;
    gap: 10px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
    background-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.double-btn:hover,
.double-btn:focus{
    color: #fff;
    background-color: #121212; 
}
@media screen and (min-width:768px){
    .double-btn {
        line-height: 24px;
        padding: 8px 24px;
    }
}
@media screen and (min-width:1440px){
    .double-btn {
        font-size: 18px;
        padding: 9px 24px;
    }
}