.four-section {
    background-color: var(--main-light-color);
    padding-top: 64px;
    padding-bottom: 64px;
}
@media screen and (min-width:768px) {
    .four-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media screen and (min-width:1440px) {
    .four-section{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.conteiner {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width:768px) {
    .conteiner{
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media screen and (min-width:1440px) {
    .conteiner{
        max-width: 1376px;
    }
}
@media screen and (min-width:768px) and (max-width: 1439px){
    .four-img {
        display: flex;
        flex-direction: row-reverse;
        gap:32px;
    }
}
@media screen and (min-width:1440px){
    .four-img {
        display: none;
    }
}
.pic-one {
}
.four-img-two {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 32px;
}
@media screen and (min-width:768px) {
    .four-img-two {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 32px;
        margin-top: 0;
        margin-bottom: 40px;
    }
}

.pic-second {
    width: 158px;
    height: 158px;
}
.pic-three {
    width: 158px;
    height: 158px;
}
@media screen and (min-width:768px){
    .pic-second {
        width: 223px;
        height: 261px;
    }
    .pic-three {
        width: 341px;
        height: 175px;
    }
}
@media screen and (min-width:1440px){
    .pic-second {
        width: 387px;
        height: 510px;
    }
    .pic-three {
        width: 386px;
        height: 395px;
    }
}
.four-img-third{
    display: none;
}
@media screen and (min-width:1440px){
    .four-img-third{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width:1440px){
    .four-div{
        display: flex;
}
}
.four-div-text{
    width: 335px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
@media screen and (min-width:768px){
    .four-div-text{
        width: 475px;
    }
}
@media screen and (min-width:1440px){
    .four-div-text{
        gap: 40px;
    }
}
.four-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}
@media screen and (min-width:768px){
    .four-title {
        font-size: 40px;
        line-height: 44px;
    }
}
.four-text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: #121212;
}
@media screen and (min-width:768px){
    .four-text {
        font-size: 18px;
        line-height: 24px;
    }
}
.four-btn-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
    gap: 14px;
}
@media screen and (min-width:768px) {
    .four-btn-list{
        justify-content: flex-end;
         align-items: flex-start;
    }
}
@media screen and (min-width:1440px) {
    .four-btn-list{
        margin-left: auto;
    }
}
.four-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 18px;
    gap: 10px;

    border: 0.8px solid #121212;
    border-radius: 32px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-link:hover,
.four-link:focus{
    color: #fff;
    background-color: #121212;
}
@media screen and (min-width:768px){
    .four-link{
        line-height: 24px;
        padding: 8px 24px;
    }
}
@media screen and (min-width:1440px){
    .four-link{
        font-size: 18px;
        padding: 9px 24px;
    }
}
.four-btn {
    border: 0.8px solid #121212;
    border-radius: 32px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 18px;
    gap: 10px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
    background-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-btn:hover,
.four-btn:focus{
    color: #fff;
    background-color: #121212; 
}
@media screen and (min-width:768px){
    .four-btn{
        line-height: 24px;
        padding: 8px 24px;
    }
}
@media screen and (min-width:1440px){
    .four-btn{
        font-size: 18px;
        padding: 9px 24px;
    }
}