   <!--   HOTEL   -->

    <section class="main-about-section">
      <div class="main-about-container">

        <!--  photo   -->

       <div class="main-about-photo-container">
          <h2 class="section-title-invisible">About Us</h2>
      
            
          <ul class="main-about-list">
            <li class="main-about-item">
              <div class="main-rest-hotel-review"> 
              <img
                class="main-about-img"
                src="./images/mobile/home/home_room1_mobile.jpg"
                alt="photo of a first room"
                srcset="
                  ./images/mobile/home/home_room1_mobile.jpg   1x,
                  ./images/mobile/home/home_room1_mobile@2x.jpg 2x
                "
              />

          <div class="main-review-container">
          <div class="main-review-img-container">
            <img
              class="main-review-img"
              src="./images/home_Maria_all.png"
              alt="photo of Maria"
              srcset="
                ./images/home_Maria_all.png  1x,
                ./images/home_Maria_all@2x.png 2x
              "
              width="41"
              height="41"
            />
          </div>

          <div class="main-review-text-container">
            <h3 class="main-review-title">Maria</h3>
            <p class="main-review-text"><span class="main-review-text-gray" >give rating </span>4.5</p>
          </div>
        </div>
              </div>
            </li>

            <li class="main-about-item">
              <img
                class="main-about-img"
                src="./images/mobile/home/home_room2_mobile.png"
                alt="photo of a second room"
                srcset="
                  ./images/mobile/home/home_room2_mobile.png   1x,
                  ./images/mobile/home/home_room2_mobile@2x.png  2x
                "
                width="282"
               
              />
            </li>
          </ul>

        
      </div>
      

        <!-- restaurant-hotel complex -->

        <div class="main-rest-hotel-container">
          <h3 class="main-rest-hotel-title">restaurant-hotel complex</h3>
          <ul class="main-rest-hotel-list list">
            <li class="main-rest-hotel-item">
              <p class="main-rest-hotel-text">
                Indulge in a taste of luxury with every bite at Hotel Mimino.
                From the freshest seafood to the most succulent steaks, every
                dish is crafted with care to ensure that you enjoy a truly
                memorable dining experience.
              </p>
            </li>
            <li class="main-rest-hotel-item">
              <p class="main-rest-hotel-text">
                Treat yourself to a taste of the good life and come dine with us
                today!
              </p>
            </li>
          </ul>
          </div>

<div class="main-buisness-hotel-review">

          <img
            src="./images/mobile/home/home_restaurant1_mobile.jpg"
            alt="first photo of a restaurant"
            srcset="
              ./images/mobile/home/home_restaurant1_mobile.jpg   1x,
              ./images/mobile/home/home_restaurant1_mobile@2x.jpg 2x
            "
          />

          <div class="main-review-container-sec">
            <div class="main-review-img-container">
              <img
                class="main-review-img"
                src="./images/home_Alexander_all.png"
              alt="photo of Alexander"
              srcset="
                ./images/home_Alexander_all.png  1x,
                ./images/home_Alexander_all@2x.png 2x
              "
                width="41"
                height="41"
              />
            </div>

            <div class="main-review-text-container">
              <h3 class="main-review-title">Alexander</h3>
              <p class="main-review-text"><span class="main-review-text-gray">give rating </span>5.5</p>
            </div>
          </div>
        </div>
        
      

        <!-- business class hotel  -->

        <div class="main-business-hotel-container">
          <h3 class="main-rest-hotel-title">business class hotel</h3>
          <p class="main-business-hotel-text">
            The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.
          </p>
          <img
            src="./images/mobile/home/home_restaurant2_mobile.jpg"
            alt="photo of a respectable man with a beard"
            srcset="
              ./images/mobile/home/home_restaurant2_mobile.jpg    1x,
              ./images/mobile/home/home_restaurant2_mobile@2x.jpg 2x
            "
          />
        </div>
      </div>
    </section>