<section class="section hero-section">
  <div class="container hero">
    <div class="hero-back">


    </div>
    <h1 class="hero-title-main">mimino</h1>
    <div class="wrap-hero-ul">
      <ul class="hero-btn-list">
        <li class="list-item">
          <button type="button" class="js-open-modal" data-modal="1">
            book a room
          </button>
        </li>
        <li class="list-item">
          <button type="button" class="js-open-modal" data-modal="2">
            book a table
          </button>
        </li>
      </ul>
      <div class="hero-text-wrap">
        <ul class="hero-text-list">
          <li class="list-item">
            <p class="hero-text">
              Whether you're in the mood for a hearty breakfast, a light lunch,
              or
              <span> a romantic dinner,</span> our menu has something for
              everyone.
            </p>
          </li>
          <li class="list-item">
            <p class="hero-text">
              At Hotel Mimino, <span>we believe</span> that great food should be
              available to everyone, no matter the time of day.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
