<section class="hotel-section">
  <div class="hotel-conteiner">
    <!-- Hotel text -->
    <div class="hotel-wrapper">
      <h2 class="hotel-title">Hotel</h2>
      <p class="hotel-text">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>
    <!-- Hotel slider -->
    <div class="img-slider">
      <div class="img-item_first">
        <div class="hotel-detail-slider-wrapper">
          <div class="hotel-detail-slider-img">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel4_desktop.webp    1x,
                  ./images/desktop/home/home_hotel4_desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel4_desktop.jpg    1x,
                  ./images/desktop/home/home_hotel4_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room6_tablet.webp    1x,
                  ./images/tablet/home/home_room6_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room6_tablet.jpg    1x,
                  ./images/tablet/home/home_room6_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-4-335.webp    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-4-335@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-4-335.jpg    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-4-335@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="hotel-img img-first"
                src="./images/mobile/home/scrol_home/home-slider/image-4-335.jpg"
                alt="shells"
                loading="lazy"
              />
            </picture>
          </div>
        </div>

        <div class="hotel-detail-slider-wrapper">
          <div class="hotel-detail-slider-img">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel5_desktop.webp    1x,
                  ./images/desktop/home/home_hotel5_desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel5_desktop.jpg    1x,
                  ./images/desktop/home/home_hotel5_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room7_tablet.webp    1x,
                  ./images/tablet/home/home_room7_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room7_tablet.jpg    1x,
                  ./images/tablet/home/home_room7_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-5-335.webp    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-5-335@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-5-335.jpg    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-5-335@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="hotel-img img-second"
                src="./images/mobile/home/scrol_home/home-slider/image-5-335.jpg"
                alt="care products"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="img-item_second">
        <div class="hotel-detail-slider-wrapper">
          <div class="hotel-detail-slider-img">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel3_desktop.webp    1x,
                  ./images/desktop/home/home_hotel3_desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel3_desktop.jpg    1x,
                  ./images/desktop/home/home_hotel3_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room5_tablet.webp    1x,
                  ./images/tablet/home/home_room5_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room5_tablet.jpg    1x,
                  ./images/tablet/home/home_room5_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-1-335.webp    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-1-335@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-1-335.jpg    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-1-335@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="hotel-img"
                src="./images/mobile/home/scrol_home/home-slider/image-1-335.jpg"
                alt="hotel room"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="img-item_third">
        <div class="hotel-detail-slider-wrapper">
          <div class="hotel-detail-slider-img">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel1_desktop.webp    1x,
                  ./images/desktop/home/home_hotel1_desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel1_desktop.jpg    1x,
                  ./images/desktop/home/home_hotel1_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room3_tablet.webp    1x,
                  ./images/tablet/home/home_room3_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room3_tablet.jpg    1x,
                  ./images/tablet/home/home_room3_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-2-335.webp    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-2-335@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-2-335.jpg    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-2-335@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="hotel-img img-second"
                src="./images/mobile/home/scrol_home/home-slider/image-2-335.jpg"
                alt="hygiene products"
                loading="lazy"
              />
            </picture>
          </div>
        </div>

        <div class="hotel-detail-slider-wrapper">
          <div class="hotel-detail-slider-img">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel2_desktop.webp    1x,
                  ./images/desktop/home/home_hotel2_desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/home/home_hotel2_desktop.jpg    1x,
                  ./images/desktop/home/home_hotel2_desktop@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room4_tablet.webp    1x,
                  ./images/tablet/home/home_room4_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/home/home_room4_tablet.jpg    1x,
                  ./images/tablet/home/home_room4_tablet@2x.jpg 2x
                "
                type="image/jpg"
              />

              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-3-335.webp    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-3-335@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/home/scrol_home/home-slider/image-3-335.jpg    1x,
                  ./images/mobile/home/scrol_home/home-slider/image-3-335@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="hotel-img img-first"
                src="./images/mobile/home/scrol_home/home-slider/image-3-335.jpg"
                alt="bathroom"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <!-- switches -->
      <div class="slider-switches">
        <button class="switch-btn" type="button">
          <svg width="15" height="15">
            <use href="./images/icons.svg#icon-slide-left"></use>
          </svg>
        </button>

        <button class="switch-btn" type="button">
          <svg width="15" height="15">
            <use href="./images/icons.svg#icon-slide-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- Hotel buttons  -->
    <div class="hotel-buttons">
      <button type="button" class="js-open-modal" data-modal="1">
        Book a room
      </button>

      <a class="hotel-btn hotel-btn_link" href="./hotel.html">View room</a>
    </div>
  </div>
</section>
