<section class="restaurant">
  <div class="container">
    <div class="restaurant-description">
      <h2 class="restaurant-title paragraph">Restaurant</h2>
      <p class="restaurant-text paragraph">relax and unwind with our br delicious offerings, available any time of day.</p>
    </div>
    <div class="restaurant-content">
    <ul class="restaurant-list">
    <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="/images/desktop/home/scrol_restaraunt/home_scrol_restaraunt1_desktop.webp 1x,
                /images/desktop/home/scrol_restaraunt/home_scrol_restaraunt1_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="/images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet.webp 1x, 
                /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="/images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile.webp 1x, 
                /images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="/images/desktop/home/scrol_restaraunt/home_scrol_restaraunt1_desktop.jpg 1x,
               /images/desktop/home/scrol_restaraunt/home_scrol_restaraunt1_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="/images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet.jpg 1x, 
               /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt1_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="/images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile.jpg 1x, 
               /images/mobile/restaurant/scrol_restaurant/scrol_restaurant1_mobile@2x.jpg 2x"  
       type="image/jpg">
        <img src="/images/desktop/home/scrol_restaraunt/home_scrol_restaraunt1_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li>
    <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="/images/desktop/home/scrol_restaraunt/home_scrol_restaraunt2_desktop.webp 1x,
                /images/desktop/home/scrol_restaraunt/home_scrol_restaraunt2_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="/images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt2_tablet.webp 1x, 
                /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt2_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="/images/mobile/restaurant/scrol_restaurant/scrol_restaurant2_mobile.webp 1x, 
                /images/mobile/restaurant/scrol_restaurant/scrol_restaurant2_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="/images/desktop/home/scrol_restaraunt/home_scrol_restaraunt2_desktop.jpg 1x,
               /images/desktop/home/scrol_restaraunt/home_scrol_restaraunt2_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="/images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt2_tablet.jpg 1x, 
               /images/tablet/restaurant/scrol_restaurant_tablet/scrol_restaraunt2_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="/images/mobile/restaurant/scrol_restaurant/scrol_restaurant2_mobile.jpg 1x, 
               /images/mobile/restaurant/scrol_restaurant/scrol_restaurant2_mobile@2x.jpg 2x"  
       type="image/jpg">
        <img src="/images/desktop/home/scrol_restaraunt/home_scrol_restaraunt2_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li>
    <!-- <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_desktop.webp 1x,
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_tablet.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_mobile.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_desktop.jpg 1x,
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_tablet.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_mobile.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_mobile@2x.jpg 2x" 
       type="image/jpg">
        <img src="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt3_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li>
    <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_desktop.webp 1x,
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_tablet.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_mobile.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_desktop.jpg 1x,
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_tablet.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_mobile.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_mobile@2x.jpg 2x" 
       type="image/jpg">
        <img src="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt4_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li>
    <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_desktop.webp 1x,
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_tablet.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_mobile.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_desktop.jpg 1x,
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_tablet.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_mobile.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_mobile@2x.jpg 2x" 
       type="image/jpg">
        <img src="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt5_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li>
    <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_desktop.webp 1x,
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_tablet.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_mobile.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_desktop.jpg 1x,
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_tablet.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_mobile.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_mobile@2x.jpg 2x" 
       type="image/jpg">
        <img src="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt6_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li>
    <li class="restaurant-img">
      <picture>
        <source media="(min-width: 1440px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_desktop.webp 1x,
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_desktop@2x.webp 2x" 
        type="image/webp">
        <source media="(min-width: 768px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_tablet.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_tablet@2x.webp 2x" 
        type="image/webp">
        <source media="(max-width: 767px)" 
        srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_mobile.webp 1x, 
                ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_mobile@2x.webp 2x" 
        type="image/webp">
       <source media="(min-width: 1440px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_desktop.jpg 1x,
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_desktop@2x.jpg 2x" 
       type="image/jpg">
       <source media="(min-width: 768px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_tablet.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_tablet@2x.jpg 2x" 
       type="image/jpg">
       <source media="(max-width: 767px)" 
       srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_mobile.jpg 1x, 
               ./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_mobile@2x.jpg 2x" 
       type="image/jpg">
        <img src="./images/desktop/home/scrol_restaraunt/home_scrol_restaraunt7_desktop.jpg" alt="cocktail in a glass" width="157" loading="lazy"/>
      </picture>
    </li> -->
    </ul>
    <ul class="restaurant-slider">
      <li class="restaurant-slider-item">
        <svg class="restaurant-slider-icon" width="5" height="9">
          <use href="./images/icons.svg#icon-slide-left"></use>
        </svg>
      </li>
<li class="restaurant-slider-item">
        <svg class="restaurant-slider-icon" width="5" height="9">
          <use href="./images/icons.svg#icon-slide-right"></use>
        </svg>
      </li>
    </ul>
    <ul class="restaurant-btns">
    <li>
        <button type="button" class="js-open-modal btn" data-modal="2">book a table
        </button>
    </li>
    <li>
        <a href="./restaurant.html" class="restaurant-link">view a menu</a>
    </li>
    </ul>
    </div>
  </div> 
</section>