<section class="restaurant">
        <div class="container">
        <div class="for-btn-position">
          <div class="restaurant-description">
            <h2 class="restaurant-title paragraph">Restaurant</h2>
            <p class="restaurant-text paragraph">relax and unwind with our br delicious offerings, available any time of day.</p>
          </div>
          <div class="restaurant-content">
          <ul class="restaurant-list">
          <li class="restaurant-img">
                <picture>
                        <source media="(min-width: 1440px)" 
                        srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant1_tablet.jpg"
                        type="image/jpg">
                        <source media="(min-width: 768px)" 
                        srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant1_tablet.jpg"
                        type="image/jpg">
                        <source media="(max-width: 767px)" 
                        srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant1_tablet.jpg"
                        type="image/jpg"> 
                         <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant1_tablet.jpg" alt="cocktail in a glass" width="266"/>
                        </picture> 
        </li>
          <li class="restaurant-img">
              <picture>
             <source media="(min-width: 1440px)" 
             srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant2_tablet.jpg"
             type="image/jpg">
             <source media="(min-width: 768px)" 
             srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant2_tablet.jpg"
             type="image/jpg">
             <source media="(max-width: 767px)" 
             srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant2_tablet.jpg"
             type="image/jpg"> 
              <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant2_tablet.jpg" alt="cocktail in a glass" width="266"/>
             </picture>  
          </li>
           <li class="restaurant-img">
              <picture>
             <source media="(min-width: 1440px)" 
             srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant3_tablet.jpg"
             type="image/jpg">
             <source media="(min-width: 768px)" 
             srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant3_tablet.jpg"
             type="image/jpg">
             <source media="(max-width: 767px)" 
             srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant3_tablet.jpg"
             type="image/jpg"> 
              <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant3_tablet.jpg" alt="cocktail in a glass"  width="266"/>
             </picture>  
          </li>
          <li class="restaurant-img">
              <picture>
             <source media="(min-width: 1440px)" 
             srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant4_tablet.jpg"
             type="image/jpg">
             <source media="(min-width: 768px)" 
             srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant4_tablet.jpg"
             type="image/jpg">
             <source media="(max-width: 767px)" 
             srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant4_tablet.jpg"
             type="image/jpg"> 
              <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant4_tablet.jpg" alt="cocktail in a glass" width="266"/>
             </picture>  
          </li>
          <li class="restaurant-img">
              <picture>
             <source media="(min-width: 1440px)" 
             srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant5_tablet.jpg"
             type="image/jpg">
             <source media="(min-width: 768px)" 
             srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant5_tablet.jpg"
             type="image/jpg">
             <source media="(max-width: 767px)" 
             srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant5_tablet.jpg"
             type="image/jpg"> 
              <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant5_tablet.jpg" alt="cocktail in a glass" width="266"/>
             </picture> 
          </li>
          <li class="restaurant-img">
             <picture>
             <source media="(min-width: 1440px)" 
             srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant6_tablet.jpg"
             type="image/jpg">
             <source media="(min-width: 768px)" 
             srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant6_tablet.jpg"
             type="image/jpg">
             <source media="(max-width: 767px)" 
             srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant6_tablet.jpg"
             type="image/jpg">
              <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant6_tablet.jpg" alt="cocktail in a glass" width="266"/>
             </picture>           </li>
          <li class="restaurant-img">
              <picture>       
             <source media="(min-width: 1440px)" 
             srcset="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant7_tablet.jpg"
             type="image/jpg">
             <source media="(min-width: 768px)" 
             srcset="src/images/tablet/home/scrol_home_tablet/home_scrol_restaurant7_tablet.jpg"
             type="image/jpg">
             <source media="(max-width: 767px)" 
             srcset="src/images/mobile/home/scrol_home/home_scrol_restaurant7_tablet.jpg"
             type="image/jpg"> 
              <img src="src/images/desktop/home/scrol_restaraunt/home_scrol_restaurant7_tablet.jpg" alt="cocktail in a glass" width="266"/>
             </picture> 
          </li>
          </ul>
          <ul class="restaurant-slider">
            <li class="restaurant-slider-item">
              <svg class="restaurant-slider-icon" width="5" height="9">
                <use href="./images/icons.svg#icon-slide-left"></use>
              </svg>
            </li>
      <li class="restaurant-slider-item">
              <svg class="restaurant-slider-icon" width="5" height="9">
                <use href="./images/icons.svg#icon-slide-right"></use>
              </svg>
            </li>
          </ul>
          <ul class="restaurant-btns">
          <li>
              <button type="button" class="js-open-modal white" data-modal="2">book a table
              </button>
          </li>
          <li>
              <a href="./restaurant.html" class="restaurant-link">view a menu</a>
          </li>
          </ul>
          </div>
        </div>
        </div> 
      </section>