<section class="home-restaurant-section">
  <div class="container home-restaurant-container">
    <div class="home-restaurant-title-box">
      <h2 class="home-restaurant-title">Restaurant</h2>
      <p class="home-restaurant-txt">
        relax and unwind with our br delicious offerings, available any time of
        day.
      </p>
    </div>

    <div class="home-restaurant-slider-wrapper">
      <div class="autoplay">
        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant1_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant1_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant1_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant1_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>

        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant2_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant2_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant2_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant2_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>

        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant3_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant3_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant3_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant3_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>

        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant4_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant4_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant4_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant4_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>

        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant5_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant5_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant5_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant5_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>

        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant6_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant6_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant6_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant6_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>

        <div class="item">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant7_tablet.jpg"
                type="image/jpg">
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/home/scrol_home_tablet/home_scrol_restaurant7_tablet.jpg"
                type="image/jpg">
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/home/scrol_home/home_scrol_restaurant7_tablet.jpg"
                type="image/jpg"> 
                 <img class="rest-images" src="./images/desktop/home/scrol_restaraunt/home_scrol_restaurant7_tablet.jpg" alt="cocktail in a glass"  width="266"/>
                </picture> 
        </div>
      
      </div>
    </div>

    <ul class="restaurant-btn-list">
      <li class="restaurant-btn">
        <button type="button" class="js-open-modal white" data-modal="2">
          book a table
        </button>
      </li>
      <li class="restaurant-btn">
        <a href="./restaurant.html" class="restaurant-link">view a menu</a>
      </li>
    </ul>
  </div>
</section>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script src="./partials/home/js/slide-rest.js"></script>