.rest-hero-section {
  margin-top: 71px;
  background-color: var(--main-light-color);
}

@media screen and (min-width: 1440px) {
  .rest-hero-section {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .rest-hero-section {
    padding-bottom: 40px;
    padding-left: 32px;
  }
}

.container.hidden {
  padding-top: 40px;
  padding-bottom: 0;
}

.rest-hero-title {
  font-size: 40px;
  letter-spacing: -0.02em;
  line-height: 1;
  color: var(--main-black-color);
}

@media screen and (min-width: 768px) {
  .rest-hero-title {
    margin-bottom: 32px;
    font-size: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .rest-hero-title {
    font-size: 90px;
  }
}

.rest-hero-btn-list {
  display: flex;
  column-gap: 12px;
  margin-bottom: 40px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .rest-hero-btn-list {
    column-gap: 14px;
    margin-bottom: 54px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .rest-hero-btn-list {
    margin-bottom: 204px;
    margin-top: 32px;
  }
}

.js-open-modal,
.rest-hero-nav-link {
  padding: 8px 18px;
  border-radius: 32px;
  background-color: transparent;
  transition: color linear 250ms, background-color linear 250ms;
  border: 0.8px solid var(--main-black-color);
  color: var(--main-black-color);
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400px;
  line-height: calc(18 / 14);
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.js-open-modal:hover,
.js-open-modal:focus,
.rest-hero-nav-link:hover,
.rest-hero-nav-link:focus {
  background-color: var(--main-black-color);
  color: var(--main-light-color);
}

@media screen and (min-width: 768px) {
  .js-open-modal,
  .rest-hero-nav-link {
    padding: 8px 24px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1440px) {
  .js-open-modal,
  .rest-hero-nav-link {
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.hidden {
  overflow: hidden;
  margin-left: 20px;
  margin-right: auto;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .hidden {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hero-2-wrapper {
  position: relative;
}

/* .hero-img-wrapp {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(72%);
  margin-left: 85px;
} */

.hero-item-img:first-child {
  margin-right: 85px;
}

/* @media screen and (min-width: 768px) {
  .hero-img-wrapp {
    transform: translateX(85%);
  }
} */
@media screen and (min-width: 1440px) {
  .hidden {
    position: relative;
  }
  .hero-2-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30%);
  }
  .hero-1-wrapper {
    max-width: 526px;
    margin-top: 174px;
  }
}

.rest-hero-text-box {
  max-width: 338px;
  margin-bottom: 200px;
  margin-top: 100px;
}

@media screen and (min-width: 768px) {
  .rest-hero-text-box {
    width: 338px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .rest-hero-text-box {
    width: 338px;
    margin-bottom: 48px;
    margin-top: 204px;
  }
}

.rest-hero-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
  font-weight: var(--font-weight-title);
}

@media screen and (min-width: 768px) {
  .rest-hero-text {
    width: 338px;
  }
}

@media screen and (min-width: 1440px) {
  .rest-hero-text {
    width: 338px;
  }
}
@media screen and (min-width: 768px) {
  .picc {
    max-width: 100%;
  }
}
