.rest-hero-section {
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: var(--main-light-color);
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.rest-hero-title {
  font-family: var(--primary-font);
  font-size: 40px;
  font-weight: var(--font-weight-title);
  letter-spacing: -0.02em;
  line-height: 1;
  color: var(--main-black-color);
  margin-bottom: 24px;
}

.rest-hero-btn-list {
  margin-top: 24px;
  display: flex;
  column-gap: 12px;
}

.js-open-modal,
.rest-hero-nav-link {
  padding: 8px 18px;
  border-radius: 32px;
  background-color: transparent;
  border: 0.8px solid #121212;
  color: var(--main-black-color);
  text-transform: uppercase;
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400px;
  line-height: calc(18 / 14);
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.js-open-modal:hover,
.js-open-modal:focus,
.rest-hero-nav-link:hover,
.rest-hero-nav-link:focus {
  background-color: #121212;
  color: #f7f7f7;
}

.rest-hero-wrap {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  gap: 20px;
}

.rest-hero-text-ul {
  max-width: 338px;
}

.rest-hero-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
  font-weight: var(--font-weight-title);
}
